<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start">Liste des audits en cours</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Liste des audits en cours
  </h1>
  <button mat-fab class='not-in-pdf' color="primary" (click)="exportCSV()" fxFlexOffset="8px"><mat-icon>grid_on</mat-icon></button>
</div>

<mat-form-field fxLayout>
  <input matInput #filterString type="search" placeholder="Chercher un audit" fxFlex (keyup)="filterList(filterString.value, filterCompleted.value)">
</mat-form-field>

<div fxLayout>
  <mat-slide-toggle #filterCompleted fxFlex (change)="filterList(filterString.value, filterCompleted.checked)">Cacher les audits fait a 100%</mat-slide-toggle>
</div>


<mat-list>
  <mat-list-item class="echos-list-item" [routerLink]="['/audit', item.key]" *ngFor="let item of filteredList">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="have-childs">
        <div>{{item.establishment.name}}</div>
        <div>{{item.inquiryform?.title}} - {{item.date_start | date:'dd/MM/yyyy à HH:mm'}}</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="echos-percent echos-percent-complete" title="complété">{{item.cached_percent_complete * 100 | number:'1.0-0' }} %</div>
        <div class="echos-percent echos-percent-ignored" title="ignoré">{{item.cached_percent_ignored * 100 | number:'1.0-0' }} %</div>
      </div>
      <mat-icon color="primary" fxFlexOffset="25px">chevron_right</mat-icon>
    </div>
  </mat-list-item>
</mat-list>

<div *ngIf="!filteredList.length">Aucun audit n'a été trouvé.</div>
