<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start">Liste des audits en cours</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Liste des audits en cours
  </h1>

  <button mat-fab class='not-in-pdf' color="primary" fxFlexOffset="8px" [matMenuTriggerFor]="menucsv"><mat-icon>grid_on</mat-icon></button>
  <mat-menu #menucsv="matMenu">
    <button mat-menu-item (click)="exportCSV('csv')">Format CSV</button>
    <button mat-menu-item (click)="exportCSV('xlsx')">Format XLSX</button>
  </mat-menu>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field fxFlex>
    <input matInput #filterString type="search" placeholder="Chercher un audit" fxFlex (keyup)="filterList(filterString.value, filterCompleted.checked, filterInquiryform.value)">
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field fxFlex>
    <mat-select #filterInquiryform placeholder="Limiter aux questionnaire : " (change)="filterList(filterString.value, filterCompleted.checked, filterInquiryform.value)">
      <mat-option [value]="">Tous (ne pas limiter)</mat-option>
      <mat-option *ngFor="let inquiryform of inquiryforms" [value]="inquiryform.id_inquiryform">
        {{ inquiryform.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div style="margin:15px 0 20px 0">
  <mat-slide-toggle #filterCompleted fxFlex (change)="filterList(filterString.value, filterCompleted.checked, filterInquiryform.value)">Cacher les audits fait a 100%</mat-slide-toggle>
</div>

<mat-divider></mat-divider>

<mat-list>
  <mat-list-item class="echos-list-item" [routerLink]="['/audit', item.key]" *ngFor="let item of filteredList">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="have-childs">
        <div>{{item.establishment.name}}</div>
        <div>{{item.inquiryform?.title}} - {{item.date_start | date:'dd/MM/yyyy à HH:mm'}}</div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div class="echos-percent echos-percent-complete" title="complété">{{item.cached_percent_complete * 100 | number:'1.0-0' }} %</div>
        <div class="echos-percent echos-percent-ignored" title="ignoré">{{item.cached_percent_ignored * 100 | number:'1.0-0' }} %</div>
      </div>
      <mat-icon color="primary" fxFlexOffset="25px">chevron_right</mat-icon>
    </div>
  </mat-list-item>
</mat-list>

<div *ngIf="!filteredList.length">Aucun audit n'a été trouvé.</div>
