<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Les utilisateurs</div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <h1 fxFlex>
    Les utilisateurs
  </h1>
  <button md-fab color="primary" routerLink="../creer"><md-icon>add</md-icon></button>
</div>

<md-input-container fxLayout>
  <input mdInput #search type="search" placeholder="Chercher un utilisateur..." fxFlex (keyup)="updateFilter(search.value)">
</md-input-container>

<!-- version ngx-datatable -->
<!--
<ngx-datatable fxFlex="100%"
  [rows]="filtered_rows"
  [columns]="columns"
  [columnMode]="'force'"
  [footerHeight]="0"
  [scrollbarH]="false">
</ngx-datatable>
-->

<!-- version md-list -->
<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/utilisateur', item.id]" *ngFor="let item of filtered_rows">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex>
        <div fxLayout="column" class="have-childs">
          <div>{{item.name}}</div>
          <div *ngIf="item.email">{{item.email}}</div>
        </div>
      </div>
      <md-icon color="primary">chevron_right</md-icon>
    </div>
  </md-list-item>
</md-list>
