<div fxLayout="row" fxLayoutAlign="center center">
  <h1 fxFlex>
    Les utilisateurs
  </h1>
  <button md-fab color="primary" routerLink="../creer" fxHide.gt-md><md-icon>add</md-icon></button>
</div>

<md-input-container fxLayout>
  <input md-input #search type="search" placeholder="Chercher un utilisateur..." fxFlex (keyup)="updateFilter(search.value)">
</md-input-container>

<!-- version ngx-datatable -->
<!--
<ngx-datatable fxFlex="100%"
  [rows]="filtered_rows"
  [columns]="columns"
  [columnMode]="'force'"
  [footerHeight]="0"
  [scrollbarH]="false">
</ngx-datatable>
-->

<!-- version md-list -->
<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/utilisateur', item.id]" *ngFor="let item of filtered_rows">
    <h2 md-line>{{item.name}}</h2>
    <div md-line fxLayout="row">
        <div *ngIf="item.email">{{item.email}}</div>
    </div>
  </md-list-item>
</md-list>
