<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start">Les utilisateurs</div>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <h1 fxFlex>
    Les utilisateurs
  </h1>
  <button mat-fab color="primary" routerLink="../creer"><mat-icon>add</mat-icon></button>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field fxFlex>
    <input matInput #search type="search" placeholder="Chercher un utilisateur..." fxFlex (keyup)="updateFilter(search.value)">
  </mat-form-field>
</div>

<!-- version ngx-datatable -->
<!--
<ngx-datatable fxFlex="100%"
  [rows]="filtered_rows"
  [columns]="columns"
  [columnMode]="'force'"
  [footerHeight]="0"
  [scrollbarH]="false">
</ngx-datatable>
-->

<!-- version mat-list -->
<mat-list>
  <mat-list-item class="echos-list-item" [routerLink]="['/utilisateur', item.id]" *ngFor="let item of filtered_rows">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex>
        <div fxLayout="column" class="have-childs">
          <div>{{item.name}}</div>
          <div *ngIf="item.email">{{item.email}}</div>
        </div>
      </div>
      <mat-icon color="primary">chevron_right</mat-icon>
    </div>
  </mat-list-item>
</mat-list>
