<div class="echos-title" fxLayout="row" fxLayoutAlign="start center" style="margin: 80px 0 20px 0">
  <div fxFlex>Réponses possible</div>
  <button md-raised-button (click)="addChoice()"><md-icon>add</md-icon>Ajouter une réponse</button>
</div>

<md-list>
  <md-list-item class="echos-list-item" *ngFor="let item of choices">
    <div md-line fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex>
        <div fxLayout="row">
            <div class="echos-color-box" [style]="impact.getImpactColorStyle(item.impact)"></div>
            <div fxLayout="column">
              <input fxFlex [(ngModel)]="item.title" placeholder="Intitulé"/>
              <input fxFlex [(ngModel)]="item.comment" placeholder="Commentaire"/>
            </div>
            <div>
              <md-select [(ngModel)]="item.impact" placeholder="Impact *">
                <md-option *ngFor="let t of impact.impactList" [value]="t.id">{{t.label}}</md-option>
              </md-select>
            </div>
        </div>
        <div>{{item.description}}</div>
      </div>
    </div>
  </md-list-item>
</md-list>
