<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/questionnaire_recap_actions/liste" fxFlexAlign="start">Liste des récap actions</div>
  <div fxFlexAlign="start">Dossier récap actions</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Dossier récap action<span class="titleItem">{{item.title}}</span>
  </h1>
  <button *ngIf="authService.isSuperAgent()" mat-fab color="primary" [routerLink]="['/questionnaire_recap_actions', item.id_inquiryform, 'editer']"><mat-icon>edit</mat-icon></button>
</div>

<div class="echos-title">Informations</div>

<div class="echos-infos">

  <div *ngIf="item.description" fxLayout="row">
    <label>Description :</label>
    <div fxFlexOffset="10px">{{item.description}}</div>
  </div>

</div>

<div class="echos-title" fxLayout="row" style="margin-top: 80px">
  <div fxFlex>Liste des thèmes "récap actions"</div>
  <button *ngIf="authService.isSuperAgent()" mat-raised-button [routerLink]="['/questionnaire_recap_actions', item.id_inquiryform, 'themes', 'creer']">Ajouter un thème<mat-icon>add</mat-icon></button>
</div>

<div *ngIf="showSaveButton && authService.isAdmin()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer l'ordre</button>
</div>

<mat-list *ngIf="themesList && themesList.length">
  <mat-list-item class="echos-list-item" *ngFor="let theme of themesList; let firstItem = first; let lastItem = last; let i = index" [routerLink]="['/questionnaire_recap_actions', item.id_inquiryform, 'themes', theme.id_node, 'editer']">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" *ngIf="authService.isAdmin()">
        <button mat-button [ngClass]="{'arrow-disabled': firstItem}" (click)="swap($event, i, i-1)"><mat-icon>arrow_drop_up_circle</mat-icon></button>
        <button mat-button [ngClass]="{'arrow-disabled': lastItem}" (click)="swap($event, i, i+1)"><mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div fxFlex fxFlexOffset="20px" class="have-childs">
        <div>{{theme.title}}</div>
        <div *ngIf="theme.linked_to_node">Relié au thème "<b>{{theme.linked_to_node.title}}</b>" de la banque de questions.</div>
        <div *ngIf="!theme.linked_to_node">Non relié. Sera affichée à la fin du dossier de labelisation.</div>
      </div>
      <div style="width: 50px"></div>
        <button mat-button [routerLink]="['/theme', theme.id_node]"><mat-icon color="primary">chevron_right</mat-icon></button>
      </div>
  </mat-list-item>

</mat-list>

<div *ngIf="showSaveButton && authService.isAdmin()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px; margin-bottom: 50px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer l'ordre</button>
</div>

<div *ngIf="!themesList || !themesList.length" class="echos-warning">Aucun thème trouvé.</div>
