<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start">Liste des établissements</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Liste des établissements
  </h1>
  <button *ngIf="authService.isSuperAgent()" mat-fab color="primary" routerLink="../creer" matTooltip="Ajouter un établissement" matTooltipPosition="below"><mat-icon>add</mat-icon></button>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <mat-form-field fxFlex>
    <input matInput #search type="search" placeholder="Chercher un établissement" fxFlex (keyup)="filterList(search.value)" style="color:#000!important">
  </mat-form-field>
</div>

<mat-list>
  <mat-list-item class="echos-list-item" [routerLink]="['/etablissement', item.id]" *ngFor="let item of filteredList">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="have-childs">
        <div>{{item.name}}</div>
        <div>
          <div fxLayout="row">
            <div *ngIf="item.address">{{item.address}}</div>
            <div *ngIf="item.postalcode">{{item.postalcode}}</div>
            <div *ngIf="item.city">{{item.city}}</div>
          </div>
        </div>
      </div>
      <mat-icon color="primary">chevron_right</mat-icon>
    </div>
  </mat-list-item>
</mat-list>

<div *ngIf="!filteredList.length">Aucun établissement n'a été trouvé.</div>
