<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
  <div *ngIf="current && current.nodepath && current.nodepath[0]" routerLink="/theme/{{current.nodepath[0].id_node}}" fxFlexAlign="start">{{current.nodepath[0].title}}</div>
  <div *ngIf="current && current.nodepath && current.nodepath[1]" routerLink="/theme/{{current.nodepath[0].id_node}}/rubrique/{{current.nodepath[1].id_node}}" fxFlexAlign="start">{{current.nodepath[1].title}}</div>
  <div *ngIf="current && current.nodepath && current.nodepath[2]" routerLink="/question/{{current.nodepath[2].id_node}}"fxFlexAlign="start">{{current.nodepath[2].title}}</div>
  <div *ngIf="!id_node" fxFlexAlign="start">Ajouter une question</div>
  <div *ngIf="id_node" fxFlexAlign="start">Modifier la question</div>
</div>

<h1 *ngIf="!id_node">Ajouter une question</h1>
<h1 *ngIf="id_node">Modifier la question</h1>

<p>Les champs obligatoires sont identifiés par un astérisque.</p>

<form (ngSubmit)="save()" [formGroup]="echosForm">

  <div>
    <md-input-container>
      <input mdInput formControlName="title" placeholder="Intitulé *">
      <md-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('required')">L'intitulé est requis</md-hint>
      <md-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('minlength')">L'intitulé doit contenir 3 caractères minimum</md-hint>
    </md-input-container>
  </div>

  <div style="padding: 8px 0 15px">
    <md-select placeholder="Type de question *" formControlName="type" style="min-width: 200px">
      <md-option *ngFor="let t of qtypes.typeList" [value]="t.id">{{t.label}}</md-option>
    </md-select>
  </div>

  <div>
    <md-input-container>
      <input mdInput formControlName="description" placeholder="Commentaire">
    </md-input-container>
  </div>

  <input *ngIf="id_node" type="hidden" formControlName="id_node">

  <q-checkbox-edit *ngIf="current.type == 'q_checkbox'" [choices]="choices"></q-checkbox-edit>
  <q-radio-edit *ngIf="current.type == 'q_radio'" [choices]="choices"></q-radio-edit>
  <q-percents-edit *ngIf="current.type == 'q_percents'" [choices]="choices"></q-percents-edit>

  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button md-raised-button (click)="goBack()">Annuler</button>
    <button fxFlexOffset="20px" md-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
    <button *ngIf="id_node" (click)="delete()" fxFlexOffset="20px" md-raised-button color="warn">Effacer</button>
  </div>

</form>
