<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Fiche établissement</div>
  <div *ngIf="!id" fxFlexAlign="start">Démarrer un audit</div>
  <div *ngIf="id" fxFlexAlign="start">Modifier un audit</div>
</div>

<h1 *ngIf="!id">Créer un audit</h1>
<h1 *ngIf="id">Modifier l'audit de l'établissement "{{current.establishment?.name}}"</h1>

<p>Les champs obligatoires sont identifiés par un astérisque.</p>

<form (ngSubmit)="save()" [formGroup]="echosForm">
  <div>
    <md-select placeholder="Formulaire *" formControlName="id_inquiryform" style="min-width: 300px">
      <md-option *ngFor="let ifl of inquiryFormList" [value]="ifl.id_inquiryform">{{ifl.title}}</md-option>
    </md-select>
    <div *ngIf="id" class="echos-error">Le type d'audit n'est pas modifiable</div>
  </div>
  <div>
    <md-input-container style="margin-top: 18px">
      <textarea mdInput formControlName="synthesis" placeholder="Synthèse"></textarea>
    </md-input-container>
  </div>
  <div>
    <md-select placeholder="Statut *" formControlName="active" style="margin: 8px 0 18px 0">
      <md-option [value]="1">En cours</md-option>
      <md-option [value]="0">Terminé</md-option>
    </md-select>
  </div>
  <input *ngIf="id" type="hidden" formControlName="id">
  <input *ngIf="id_establishment" type="hidden" formControlName="id_establishment">
  <input *ngIf="key" type="hidden" formControlName="key">
  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button *ngIf="id" (click)="delete(id)" md-raised-button color="warn">Effacer</button>
    <button md-raised-button (click)="goBack()" fxFlexOffset="20px">Annuler</button>
    <button fxFlexOffset="20px" md-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
    <button fxFlexOffset="20px" md-raised-button [disabled]="!echosForm.valid" color="primary" (click)="saveAndGoToEstablishment($event)">Enregistrer et retourner à la fiche établissement</button>
  </div>
  <button *ngIf="id" (click)="sendmail(id)" md-raised-button>Renvoyer le mail</button>
</form>
