<h1>Mot de passe oublié ?</h1>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div fxLayout="column">
    <mat-form-field>
      <input matInput placeholder="Nom d'utilisateur / adresse mail" value="" [(ngModel)]="model.name" name="name">
    </mat-form-field>

    <mat-toolbar>
      <button mat-raised-button><mat-icon>clear</mat-icon> Annuler</button>
      <button mat-raised-button fxFlexOffset="18px"><mat-icon>done</mat-icon> Changer mon mot de passe</button>
    </mat-toolbar>
  </div>
</form>
