<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/questionnaire/liste" fxFlexAlign="start">Liste des questionnaires</div>
  <div fxFlexAlign="start">Fiche questionnaire</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Fiche questionnaire<span class="titleItem">{{inquiryform.title}}</span>
  </h1>
  <button mat-fab class='not-in-pdf' color="primary" fxFlexOffset="8px" [matMenuTriggerFor]="menucsv"><mat-icon>grid_on</mat-icon></button>
  <mat-menu #menucsv="matMenu">
    <button mat-menu-item (click)="exportCSV('csv')">Format CSV</button>
    <button mat-menu-item (click)="exportCSV('xlsx')">Format XLSX</button>
  </mat-menu>
  <button *ngIf="authService.isAdmin()" mat-fab color="primary" [routerLink]="['/questionnaire', inquiryform.id_inquiryform, 'editer']" fxFlexOffset="16px"><mat-icon>edit</mat-icon></button>
</div>

<div class="echos-title" *ngIf="inquiryform.description">Informations</div>

<div class="echos-caption">
  {{inquiryform.description}}
</div>

<div class="echos-title" style="margin: 80px 0 20px 0">
  <div *ngIf="node" fxLayout="row" fxLayoutAlign="start center">
    <div>Liste des thèmes</div>
    <div *ngFor="let pn of parentNodes">
      <div *ngIf="pn.title">&nbsp;>&nbsp;{{pn.title}}</div>
    </div>
    <div *ngIf="node.title">&nbsp;>&nbsp;{{node.title}}</div>
  </div>
</div>

<div *ngIf="showSaveButton" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer le questionnaire</button>
</div>

<div fxLayout="row" fxLayoutAlign="start center" class="search-container">
  <mat-form-field fxFlex>
    <input matInput #search [(value)]="searchTerm" type="search" placeholder="Recherche" fxFlex (keyup)="filterList(search.value)">
  </mat-form-field>
</div>

<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
  <mat-slide-toggle color="primary" (change)="toggleAll()" [checked]="toggle">Tout sélectionner</mat-slide-toggle>
  <div fxFlex fxFlexOffset="50px">
    <button mat-button color="accent" *ngIf="!hideUnselected" (click)="hideUnselected = !hideUnselected">N'afficher que les éléments sélectionnés</button>
    <button mat-button color="accent" *ngIf="hideUnselected" (click)="hideUnselected = !hideUnselected">Afficher tous les éléments</button>
  </div>
  <button fxFlexOffset="45px" *ngIf="parentNodes.length" mat-button (click)="goToParent()">Remonter d'un niveau</button>
</mat-toolbar>

<mat-list fxLayout="column">
  <mat-list-item class="echos-list-item" *ngFor="let childItem of filteredChildList" [ngClass]="{hide: !childItem.selected && hideUnselected}">
      <mat-slide-toggle color="primary" (change)="toggleItem(childItem)" [checked]="childItem.selected"></mat-slide-toggle>
      <div *ngIf="childItem.color" class="echos-color" [ngStyle]="{'background-color': '#'+childItem.color}" fxFlexOffset="12px"></div>
      <div fxLayoutAlign="center start" class="have-childs" fxLayout="column" fxFlexOffset="18px">
        <div>{{childItem.title}}<span *ngIf="childItem.privcomment"> [{{childItem.privcomment}}]</span></div>
        <div *ngIf="childItem.description">{{childItem.description}}</div>
        <div *ngIf="childItem.type == 'directory' && childItem.childs" fxLayout="row" fxLayoutAlign="start baseline" fxLayoutWrap="wrap" class="small-list">
          <div *ngFor="let child of childItem.childs">
            {{child.title}}
          </div>
        </div>
      </div>
      <button mat-button *ngIf="childItem.selected && (!node || (node && !node.id_node_parent))" color="primary" (click)="goToChild(childItem.id_node)">Affiner le choix</button>
  </mat-list-item>
</mat-list>

<mat-toolbar fxLayout="row" fxLayoutAlign="start center">
  <mat-slide-toggle color="primary" (change)="toggleAll()" [checked]="toggle">Tout sélectionner</mat-slide-toggle>
  <div fxFlex fxFlexOffset="50px">
    <button mat-button color="accent" *ngIf="!hideUnselected" (click)="hideUnselected = !hideUnselected">N'afficher que les éléments sélectionnés</button>
    <button mat-button color="accent" *ngIf="hideUnselected" (click)="hideUnselected = !hideUnselected">Afficher tous les éléments</button>
  </div>
  <button fxFlexOffset="45px" *ngIf="parentNodes.length" mat-button (click)="goToParent()">Remonter d'un niveau</button>
</mat-toolbar>

<div *ngIf="showSaveButton" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer le questionnaire</button>
</div>
