<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Liste des questionnaires</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Liste des questionnaires
  </h1>
  <button md-fab color="primary" routerLink="../creer"><md-icon>add</md-icon></button>
</div>

<md-input-container fxLayout>
  <input mdInput #search type="search" placeholder="Chercher un questionnaire" fxFlex (keyup)="filterList(search.value)">
</md-input-container>

<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/questionnaire', item.id]" *ngFor="let item of filteredList">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="have-childs">
        <div>{{item.title}}</div>
        <div *ngIf="item.description">{{item.description}}</div>
      </div>
      <md-icon color="primary">chevron_right</md-icon>
    </div>
  </md-list-item>
</md-list>

<div *ngIf="!filteredList.length">Aucun questionnaire n'a été trouvé.</div>
