.presentation {
  p {
    color: #333;
  }
}

.echos-report-theme {
  margin: 15px 0;
  font-size: 2em;
}

.echos-report-category {
  font-size: 1.5em;
  margin: 30px 0 0 0;
}

.echos-report-question {
  font-size: 1.1em;
  color: #333;
  margin: 10px 0;
}
