<div *ngIf="type == 'theme'">
  <div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
    <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
    <div *ngIf="item && item.nodepath && item.nodepath[0]" routerLink="/theme/{{item.nodepath[0].id_node}}" fxFlexAlign="start">{{item.nodepath[0].title}}</div>
    <div *ngIf="item && item.nodepath && item.nodepath[1]" routerLink="/theme/{{item.nodepath[0].id_node}}/rubrique/{{item.nodepath[1].id_node}}" fxFlexAlign="start">{{item.nodepath[1].title}}</div>
    <div *ngIf="item && item.nodepath && item.nodepath[2]" fxFlexAlign="start">{{item.nodepath[2].title}}</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <h1 fxFlex>
      Fiche du thème #{{item.id_node}}
    </h1>
    <button md-fab color="primary" [routerLink]="['/theme', item.id_node, 'editer']"><md-icon>edit</md-icon></button>
  </div>

  <div class="echos-title">{{item.title}}</div>
  <div class="echos-description">{{item.description}}</div>

  <div class="echos-title" fxLayout="row" style="margin-top: 70px">
    <div fxFlex>Liste des rubriques</div>
    <button md-raised-button [routerLink]="['/theme', item.id_node, 'rubrique', 'creer']">Ajouter une rubrique<md-icon>add</md-icon></button>
  </div>

  <div *ngIf="!filteredChildList.length">Aucune rubrique n'a été trouvée.</div>

  <md-list>
    <md-list-item class="echos-list-item" *ngFor="let category of filteredChildList; let firstItem = first; let lastItem = last; let i = index">
      <div md-line fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <button md-button [ngClass]="{'arrow-disabled': firstItem}" (click)="swap(item, filteredChildList[i-1])"><md-icon>arrow_drop_up_circle</md-icon></button>
          <button md-button [ngClass]="{'arrow-disabled': lastItem}" (click)="swap(item, filteredChildList[i+1])"><md-icon>arrow_drop_down</md-icon></button>
        </div>
        <div fxFlex fxFlexOffset="20px" class="have-childs">
          <div>{{category.title}}</div>
          <div *ngIf="category.description">{{category.description}}</div>
          <div fxFlexAlign="start" *ngIf="category.childs" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap="wrap" class="small-list">
            <div *ngFor="let child of category.childs">
              {{child.title}}
            </div>
          </div>
        </div>
        <button md-button [routerLink]="['/theme', item.id_node, 'rubrique', category.id_node]"><md-icon color="primary">chevron_right</md-icon></button>
      </div>
    </md-list-item>
  </md-list>
</div>

<div *ngIf="type == 'category'">
  <div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
    <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
    <div *ngIf="item && item.nodepath && item.nodepath[0]" routerLink="/theme/{{item.nodepath[0].id_node}}" fxFlexAlign="start">{{item.nodepath[0].title}}</div>
    <div *ngIf="item && item.nodepath && item.nodepath[1]" routerLink="/theme/{{item.nodepath[0].id_node}}/rubrique/{{item.nodepath[1].id_node}}" fxFlexAlign="start">{{item.nodepath[1].title}}</div>
    <div *ngIf="item && item.nodepath && item.nodepath[2]" fxFlexAlign="start">{{item.nodepath[2].title}}</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center">
    <h1 fxFlex>
      Fiche de la rubrique #{{item.id_node}}
    </h1>
    <button md-fab color="primary" [routerLink]="['/theme', item.id_node_parent, 'rubrique', item.id_node, 'editer']"><md-icon>edit</md-icon></button>
  </div>

  <div class="echos-title">{{item.title}}</div>
  <div class="echos-description">{{item.description}}</div>

  <div class="echos-title" fxLayout="row" style="margin-top: 70px">
    <div fxFlex>Liste des questions</div>
    <button md-raised-button [routerLink]="['/question', 'creer', item.id_node]">Ajouter une question<md-icon>add</md-icon></button>
  </div>

  <div *ngIf="!filteredChildList.length">Aucune question n'a été trouvée.</div>

  <md-list>
    <md-list-item class="echos-list-item" *ngFor="let question of filteredChildList; let firstItem = first; let lastItem = last; let i = index">
      <div md-line fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex fxFlexOffset="20px" class="have-childs">
          <div>{{question.title}}</div>
          <div *ngIf="question.description">{{question.description}}</div>
        </div>
        <div fxLayout="column">
          <button md-button *ngIf="!firstItem" (click)="swap(item, filteredChildList[i-1])"><md-icon>arrow_drop_up_circle</md-icon></button>
          <button md-button *ngIf="!lastItem" (click)="swap(item, filteredChildList[i+1])"><md-icon>arrow_drop_down</md-icon></button>
        </div>
        <div style="width: 50px"></div>
        <button md-button [routerLink]="['/question', question.id_node]"><md-icon color="primary">chevron_right</md-icon></button>
      </div>
    </md-list-item>
  </md-list>

</div>
