<div *ngIf="type == 'theme'">
  <div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
    <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
    <div *ngIf="current && current.nodepath && current.nodepath[0]" routerLink="/theme/{{current.nodepath[0].id_node}}" fxFlexAlign="start">{{current.nodepath[0].title}}</div>
    <div *ngIf="current && current.nodepath && current.nodepath[1]" routerLink="/theme/{{current.nodepath[0].id_node}}/rubrique/{{current.nodepath[1].id_node}}" fxFlexAlign="start">{{current.nodepath[1].title}}</div>
    <div *ngIf="!id_node" fxFlexAlign="start">Ajouter un thème</div>
    <div *ngIf="id_node" fxFlexAlign="start">Modifier un thème</div>
  </div>

  <h1 *ngIf="!id_node">Ajouter un thème</h1>
  <h1 *ngIf="id_node">Modifier un thème</h1>

  <div class="echos-help-block">Les champs obligatoires sont identifiés par un astérisque.</div>

  <form [formGroup]="echosForm">
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Nom du thème *">
      <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('required')">Le nom du thème est requis</mat-hint>
      <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('minlength')">Le nom du thème doit contenir 3 caractères minimum</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Famille *" formControlName="family" style="min-width: 200px">
        <mat-option *ngFor="let t of familyTypes.typeList" [value]="t.id">{{t.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="left center">
      <mat-form-field>
        <input matInput #bgColor formControlName="color" placeholder="Couleur" [(colorPicker)]="pickedColor" (colorPickerChange)="pickedColor=$event; setColor($event)" [cpAlphaChannel]="'disabled'" [cpOKButtonText]="'Valider'" [cpCancelButton]="true" [cpCancelButtonText]="'Annuler'" [cpCancelButtonClass]="'echos-colorpicker-cancel-button'" [cpOKButton]="true" [cpOKButtonClass]="'echos-colorpicker-ok-button'">
      </mat-form-field>
      <div fxFlexOffset="10px" class="echos-color" [style.background]="pickedColor" [(colorPicker)]="pickedColor" (colorPickerChange)="pickedColor=$event; setColor($event)" [cpAlphaChannel]="'disabled'" [cpOKButtonText]="'Valider'" [cpCancelButton]="true" [cpCancelButtonText]="'Annuler'" [cpCancelButtonClass]="'echos-colorpicker-cancel-button'" [cpOKButton]="true" [cpOKButtonClass]="'echos-colorpicker-ok-button'"></div>
    </div>
    <input *ngIf="id_node" type="hidden" formControlName="id_node">
    <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
      <button *ngIf="id_node" (click)="delete(id_node)" type="button" mat-raised-button color="warn">Effacer</button>
      <button mat-raised-button (click)="goBack()" type="button" fxFlexOffset="20px">Annuler</button>
      <button fxFlexOffset="20px" mat-raised-button (click)="save()" type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
    </div>
  </form>
</div>

<div *ngIf="type == 'category'">
  <div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
    <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
    <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
    <div *ngIf="current && current.nodepath && current.nodepath[0]" routerLink="/theme/{{current.nodepath[0].id_node}}" fxFlexAlign="start">{{current.nodepath[0].title}}</div>
    <div *ngIf="current && current.nodepath && current.nodepath[1]" routerLink="/theme/{{current.nodepath[0].id_node}}/rubrique/{{current.nodepath[1].id_node}}" fxFlexAlign="start">{{current.nodepath[1].title}}</div>
    <div *ngIf="!id_node" fxFlexAlign="start">Ajouter une rubrique</div>
    <div *ngIf="id_node" fxFlexAlign="start">Modifier une rubrique</div>
  </div>

  <h1 *ngIf="!id_node">Ajouter une rubrique</h1>
  <h1 *ngIf="id_node">Modifier une rubrique</h1>

  <p>Les champs obligatoires sont identifiés par un astérisque.</p>

  <form [formGroup]="echosForm">
    <div>
      <mat-form-field>
        <input matInput formControlName="title" placeholder="Nom de la rubrique *">
        <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('required')">Le nom de la rubrique est requis</mat-hint>
        <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('minlength')">Le nom de la rubrique doit contenir 3 caractères minimum</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>
    </div>
    <input *ngIf="id_node" type="hidden" formControlName="id_node">
    <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
      <button *ngIf="id_node" (click)="delete(id_node)" type="button" mat-raised-button color="warn">Effacer</button>
      <button mat-raised-button (click)="goBack()" type="button" fxFlexOffset="20px">Annuler</button>
      <button fxFlexOffset="20px" mat-raised-button (click)="save()" type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
    </div>
  </form>
</div>
