<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div [routerLink]="['/etablissement', infos.audit.establishment.id]" fxFlexAlign="start">{{infos.audit.establishment.name}}</div>
  <div fxFlexAlign="start">Compléter un "récap actions"</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    "Récap actions" de {{infos.audit.establishment.name}}
  </h1>
  <a class='not-in-pdf' *ngIf="authService.isAgent()" mat-fab color="primary" href='/assets/docs/eplucheuse-pomme-de-terre.pdf' target='_blank'><mat-icon>help</mat-icon></a>
  <button mat-fab class='not-in-pdf' color="primary" (click)="pdf()" fxFlexOffset="8px"><mat-icon>picture_as_pdf</mat-icon></button>
</div>

<div *ngFor="let theme of themes">
  <div fxLayout="row" fxLayoutAlign="start center">
  </div>
</div>

<div class="header-title" fxLayout="row" fxLayoutAlign="center center">
  <div>Thèmes</div>
  <div fxFlex="50%">Actions à réaliser</div>
  <div fxFlex="50%">Actions réalisées</div>
</div>

<div style="margin: 20px 0">
  <h2>Votre commentaire</h2>
  <quill [config]="config" [(value)]="infos.audit.synthesis" [autoToolbar]="true" (contentChange)="enableSaveButton()"></quill>
</div>

<mat-divider></mat-divider>

<div *ngFor="let theme of themes" class="row-theme">
  <div fxLayout="row" class="column" fxLayoutAlign="center start">
    <div class="row-title">{{theme.title}}</div>
    <div class="row-answer" *ngFor="let question of theme.childs" fxFlex="50%">
      <div class="previous-answer" *ngIf="infos.audit.id_audit_src > 0" [innerHTML]="getAuditSrcAnswer(theme.id_node, question.id_node, question.position)"></div>
      <quill [config]="config" [(value)]="question.answer.value" [autoToolbar]="true" (contentChange)="enableSaveButton()"></quill>
    </div>
</div>
</div>

<div class="not-in-pdf" xLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button fxFlexOffset="8px" mat-raised-button color="warn" (click)="delete()">Effacer</button>
  <button fxFlexOffset="8px" mat-raised-button (click)="sendLink()">Envoyer le lien à la crèche</button>
  <button fxFlexOffset="8px" mat-raised-button (click)="duplicate()">Créer un nouveau dossier à partir de celui là</button>
  <button fxFlexOffset="8px" mat-raised-button (click)="goBack()">Annuler</button>
  <button fxFlexOffset="8px" mat-raised-button color="primary" (click)="save()" [disabled]="!saveButtonEnabled">Enregistrer le questionnaire</button>
</div>
