.header-title {
  margin-top: 30px;
  margin-right: 10px;
  padding-bottom: 15px;
  & > div {
    font-size: 1.4em;
    font-weight: bold;
    &:first-child {
      width: 300px; // same as .row-title
    }
  }
  border-bottom: 1px solid #c0c0c0;
  color: #009688;
}

.row-theme {
  padding: 20px 0;
  border-bottom: 1px solid #c0c0c0;

  .previous-answer {
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    opacity: 0.7;
    background-color: #eee;
  }

  .row-answer {
    padding-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.row-title {
  width: 300px;
  font-size: 1.2em;
  font-weight: bold;
  margin-right: 8px;
  text-shadow: 1px 1px 0px #666;
}

.previous-answer {
    font-size: 13px;
}

@media print {
  .row-theme {
    padding: 5px 0;
  }

  .ql-container { // marche pas quand c'est ici, alors je l'ai mis dans echos.scss
    border: none;
    padding: 0;
  }
  .ql-editor { // marche pas quand c'est ici, alors je l'ai mis dans echos.scss
    padding: 0;
  }

}
