<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/theme/liste" fxFlexAlign="start">Banque de questions</div>
  <div *ngIf="item && item.nodepath && item.nodepath[0]" routerLink="/theme/{{item.nodepath[0].id_node}}" fxFlexAlign="start">{{item.nodepath[0].title}}</div>
  <div *ngIf="item && item.nodepath && item.nodepath[1]" routerLink="/theme/{{item.nodepath[0].id_node}}/rubrique/{{item.nodepath[1].id_node}}" fxFlexAlign="start">{{item.nodepath[1].title}}</div>
  <div *ngIf="item && item.nodepath && item.nodepath[2]" fxFlexAlign="start">{{item.nodepath[2].title}}</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Liste des thèmes
  </h1>
  <button mat-fab color="primary" routerLink="../creer" *ngIf="authService.isAdmin()"><mat-icon>add</mat-icon></button>
</div>

<mat-form-field fxLayout>
  <input matInput #search type="search" placeholder="Chercher un thème" fxFlex (keyup)="filterList(search.value)">
</mat-form-field>

<div *ngIf="showSaveButton && authService.isAdmin()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer l'ordre</button>
</div>

<mat-list>
  <mat-list-item class="echos-list-item" *ngFor="let item of filteredList; let firstItem = first; let lastItem = last; let i = index" [routerLink]="['/theme', item.id_node]">
    <div mat-line fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="column" *ngIf="authService.isAdmin()">
        <button mat-button [ngClass]="{'arrow-disabled': firstItem}" (click)="swap($event, i, i-1)"><mat-icon>arrow_drop_up_circle</mat-icon></button>
        <button mat-button [ngClass]="{'arrow-disabled': lastItem}" (click)="swap($event, i, i+1)"><mat-icon>arrow_drop_down</mat-icon></button>
      </div>
      <div class="echos-color" [ngStyle]="{'background-color': '#'+item.color}"></div>
      <div fxFlex fxFlexOffset="20px" class="have-childs">
        <div>{{item.title}}<span *ngIf="item.privcomment != ''"> [{{item.privcomment}}]</span></div>
        <div *ngIf="item.description">{{item.description}}</div>
        <div fxFlexAlign="start" *ngIf="item.type == 'directory' && item.childs" fxLayout="row" fxLayoutAlign="start center" class="small-list">
          <div *ngFor="let child of item.childs" style="white-space: nowrap">
            {{child.title}}
          </div>
        </div>
      </div>
      <div style="width: 50px"></div>
        <button mat-button><mat-icon color="primary">chevron_right</mat-icon></button>
      </div>
  </mat-list-item>
</mat-list>

<div *ngIf="showSaveButton && authService.isAdmin()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button mat-raised-button color="primary" (click)="save()">Enregistrer l'ordre</button>
</div>

<div *ngIf="!filteredList.length">Aucun thème n'a été trouvé.</div>
