<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Compléter un audit</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Audit de {{infos.audit.establishment.name}}
  </h1>
  <button md-fab color="primary" [routerLink]="['/audit', infos.audit.id, 'editer']"><md-icon>edit</md-icon></button>
  <button md-fab color="primary" [routerLink]="['/audit', infos.audit.id, 'rapport']" fxFlexOffset="35px"><md-icon>assessment</md-icon></button>
</div>

<div class="echos-title" style="margin: 80px 0 20px 0">
  <div *ngIf="node" fxLayout="row" fxLayoutAlign="start center">
    <div>Liste des thèmes</div>
    <div *ngFor="let pn of parentNodes">
      <div *ngIf="pn.title">&nbsp;>&nbsp;{{pn.title}}</div>
    </div>
    <div *ngIf="node.title">&nbsp;>&nbsp;{{node.title}}</div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" class="search-container">
  <md-input-container fxFlex>
    <input mdInput #search [(value)]="searchTerm" type="search" placeholder="Recherche" fxFlex (keyup)="filterList(search.value)">
  </md-input-container>
</div>

<md-toolbar fxLayout="row" fxLayoutAlign="end center" *ngIf="parentNodes.length">
  <button fxFlexOffset="45px" md-button (click)="goToParent()">Remonter d'un niveau</button>
</md-toolbar>

<md-list *ngIf="!node.type || !node.id_node_parent">
  <md-list-item class="echos-list-item" *ngFor="let childItem of filteredChildList" [ngClass]="{hide: !childItem.selected && hideUnselected}">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <div *ngIf="childItem.color" class="echos-color" [ngStyle]="{'background-color': '#'+childItem.color}"></div>
      <div fxFlex fxFlexOffset="20px">
        <div fxLayout="column" fxLayoutAlign="start center" class="have-childs">
          <div fxFlex fxFlexAlign="start">{{childItem.title}}</div>
          <div fxFlexAlign="start" *ngIf="childItem.description">{{childItem.description}}</div>
        </div>
      </div>
      <div class="echos-percent">{{childItem.progress}} %</div>
      <button md-button color="primary" (click)="goToChild(childItem.id_node)"><md-icon>chevron_right</md-icon></button>
    </div>
  </md-list-item>
</md-list>

<div *ngIf="node.type && node.id_node_parent" class="echos-question-list">
  <div *ngFor="let childItem of filteredChildList" [ngClass]="{hide: !childItem.selected && hideUnselected}">
    <div class="echos-question-list-item">
      <answer-edit [node]="childItem" [audit]="infos.audit"></answer-edit>
    </div>
  </div>
</div>

<!-- <div *ngIf="node.type && node.id_node_parent">
  <h1>À toi Nico !</h1>

  {{this.node | json}}
</div> -->

<md-toolbar fxLayout="row" fxLayoutAlign="end center">
  <button fxFlexOffset="45px" *ngIf="parentNodes.length" md-button (click)="goToParent()">Remonter d'un niveau</button>
</md-toolbar>

<div *ngIf="showSaveButton" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px">
  <button md-raised-button color="primary" (click)="save()">Enregistrer le questionnaire</button>
</div>
