<div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row" fxLayoutAlign.gt-md="start center">
  <mat-list class="echos-answer-container" fxFlex>
    <mat-list-item class="echos-list-item" *ngFor="let item of choices; let i = index; let lastItem = last" fxLayout="row" fxLayoutAlign="start center">
            <!-- <div class="echos-color-box" [style]="impact.getImpactColorStyle(item.impact)"></div> -->
            <div class="echos-slider-title">{{item.title}}</div>
            <!-- <mat-select [(ngModel)]="item.value" (change)="updatevalue()" [disabled]="readonly ? true : lastItem">
                <mat-option *ngFor="let val of vals" [value]="val">{{val}} %</mat-option>
            </mat-select> -->
            <!-- <mat-slider [(ngModel)]="item.value" min="0" max="100" step="5" tickInterval="1" (onTouched)="onTouched()" thumbLabel="false" [value]="item.value" (input)="onInput($event.value, item)" (change)="updatevalue();setDonutChartValue()" [disabled]="readonly ? true : lastItem"></mat-slider> -->
            <mat-slider [(ngModel)]="item.value" min="0" max="100" step="5" tickInterval="1" (onTouched)="onTouched()" thumbLabel="false" [value]="item.value" (input)="onInput($event.value, item)" (change)="setDonutChartValue()" [disabled]="readonly ? true : false"></mat-slider>
            <div class="percent-container" fxFlex="80px">
              <div *ngIf="!item.liveValue && item.value" class="echos-slider-value">{{item.value}} %</div>
              <!-- <div *ngIf="item.liveValue" class="echos-slider-value" [ngClass]="{disabled: readonly ? true : lastItem}">{{item.liveValue}} %</div> -->
              <div *ngIf="item.liveValue" class="echos-slider-value">{{item.liveValue}} %</div>
            </div>
        <!-- <div class="echos-choice-description">{{item.comment}}</div> -->
    </mat-list-item>
  </mat-list>
  <div class="chart-container" fxFlexOffset="50px" *ngIf="!readonly" fxFlexAlign="center" fxFlexOffset="30px">
    <mat-card>
      <div class="chart">
        <canvas baseChart width="100px" height="100px" [datasets]="donut.datasets" [colors]="donut.colors" [chartType]="'doughnut'" legend="'false'" [options]="donut.options"></canvas>
        <div class="percent" [ngClass]="{error: total > 100, ok: total == 100, normal: total < 100, disabled: total == 0}">{{total}}%</div>
      </div>
      <div *ngIf="!overhundred" class="nothundred">Le total doit faire 100%</div>
      <div *ngIf="overhundred" class="echos-error overhundred">Le total ne peut dépasser 100%</div>
    </mat-card>
  </div>
</div>
