<div fxLayout="row" fxLayoutAlign="center center">
  <h1 fxFlex>
    Liste des établissements
  </h1>
  <button md-fab color="primary" routerLink="../creer"><md-icon>add</md-icon></button>
</div>

<md-input-container fxLayout>
  <input md-input #search type="search" placeholder="Chercher un établissement" fxFlex (keyup)="filterList(search.value)">
</md-input-container>

<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/etablissement', item.id]" *ngFor="let item of filteredList">
    <div md-line fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex>
        <div>{{item.name}}</div>
        <div fxLayout="row">
            <div *ngIf="item.address">{{item.address}}</div>
            <div *ngIf="item.postalcode">{{item.postalcode}}</div>
            <div *ngIf="item.city">{{item.city}}</div>
        </div>
      </div>
      <md-icon color="primary">edit</md-icon>
    </div>
  </md-list-item>
</md-list>

<div *ngIf="!filteredList.length">Aucun établissement n'a été trouvé.</div>
