<div fxLayout="row" fxLayoutAlign="center center">
  <h1 fxFlex>
    Liste des établissements
  </h1>
  <button md-raised-button color="primary" routerLink="../creer"><md-icon>add</md-icon>Ajouter un établisement</button>
</div>

<div *ngIf="!list.length">Aucun établissement n'a été trouvé.</div>

<md-input-container fxLayout>
  <input md-input #search type="search" placeholder="Chercher un établissement" fxFlex (keyup)="filterList(search.value)">
</md-input-container>

<md-list *ngFor="let item of filteredList">
  <md-list-item [routerLink]="['/etablissement', item.id]">
    <h2 md-line>{{item.name}}</h2>
    <p md-line>{{item.address}} - {{item.postalcode}} - {{item.city}}</p>
  </md-list-item>
  <md-divider></md-divider>
</md-list>
