<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Comparaison de deux audits</div>
</div>

<!-- Premiere page -->

<div id='exportpdf'>

  <div fxLayout="row" fxLayoutAlign="start center" class="pdf-clear-both-after">
    <h1 fxFlex class="pdf-float-left">
      Dossier de labellisation
    </h1>
    <div class="report-logo pdf-float-right" style="width: 150px;height: 150px;">
      <img [src]="logo"(click)="swapLogo()" style="width: 150px;height: 150px;">
    </div>
    <button class='not-in-pdf' md-fab color="primary" (click)="exportCSV()" fxFlexOffset="8px"><md-icon>grid_on</md-icon></button>
    <button class='not-in-pdf' md-fab color="primary" (click)="pdf()" fxFlexOffset="8px"><md-icon>picture_as_pdf</md-icon></button>
  </div>

  <div class="echos-infos">
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Nom de la crèche:</label>
      <div fxFlexOffset="10px" class="pdf-float-left">{{audit1.audit.establishment.name}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Date d'entrée de la démarche:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit1.audit.establishment.createdAt | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Date du premier audit:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit1.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Date du second audit:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit2.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
    <div *ngFor="let cinfo of customInfoList" fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">{{cinfo.label}}</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{cinfo.value}}</div>
      <button  [ngClass]="{'not-in-pdf' : true}" md-raised-button color="warn" (click)="removeCustomInfo(cinfo.label)"><md-icon>delete</md-icon></button>
    </div>
    <div fxLayout="row" [ngClass]="{'not-in-pdf' : true}" class="pdf-clear-both-after">
      <md-input-container class="pdf-float-left">
        <input mdInput #customInfoLabel placeholder="Libellé">
      </md-input-container>
      <md-input-container fxFlexOffset="8px" class="pdf-float-left">
        <input mdInput #customInfoValue placeholder="Valeur">
      </md-input-container>
      <button md-raised-button (click)="addCustomInfo(customInfoLabel, customInfoValue)" fxFlexOffset="8px">Ajouter une ligne</button>
    </div>
  </div>
  <div class="echos-title">Engagement sur les thèmes suivants: </div>

  <div class="table">
    <div *ngFor="let theme of themeList" fxLayout="row" class="pdf-clear-both-after" style="padding: 5px">
      <div class="not-in-pdf">
        <!-- <input type="checkbox" class="checkbox-to-pdf" style="border:1px solid #c0c0c0; background: #fff" checked/>{{theme.title}} -->
        <md-checkbox (click)="toggleTheme($event)" [checked]='true'></md-checkbox>
      </div>
      <div class="pdf-float-left" style="min-width: 300px">{{theme.title}}</div>
      <div class="pdf-float-left">
        <textarea placeholder="" class="textarea-to-pdf-div" style="border: 1px solid #c0c0c0;min-width: 450px;max-width: 450px;min-height:30px"></textarea>
      </div>
    </div>
    <!-- <div *ngFor="let ctl of customThemeList" fxLayout="row">
      <div>{{ctl}}</div>
      <button  [ngClass]="{'not-in-pdf' : true}" md-raised-button color="warn" (click)="customThemeList.splice(customThemeList.indexOf(ctl))"><md-icon>delete</md-icon></button>
    </div>
    <div fxLayout="row" [ngClass]="{'not-in-pdf' : true}" class="pdf-clear-both-after">
      <md-input-container>
        <input mdInput #customTheme>
      </md-input-container>
      <button md-raised-button (click)="addCustomTheme(customTheme)" fxFlexOffset="8px" style="padding:5px 2px">Ajouter un thème</button>
    </div> -->
  </div>

  <!-- Page du résumé du bilan environnemental -->

  <div class="echos-title" style="page-break-before:always">Bilan: Évolution de l'impact sur les questions environnementales</div>

  <div class="echos-infos">
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Audit de départ:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit1.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Audit intermédiaire:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit2.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
  </div>

  <div style="margin: 30px 0 5px 0">
    <a (click)="balance_sheet_environmental_pie = !balance_sheet_environmental_pie" [ngClass]="{'not-in-pdf' : true}" style="cursor:pointer">Changer de représentation graphique</a>
  </div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngIf="balance_sheet_environmental_pie">
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <canvas baseChart [datasets]="charts.environment.audit1.datasets" [colors]="charts.environment.audit1.colors" [labels]="charts.environment.audit1.labels" [chartType]="charts.environment.audit1.chartType" legend="true" [options]="charts.environment.audit1.options"></canvas>
      <h4>Audit de départ</h4>
    </md-card>
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <canvas baseChart [datasets]="charts.environment.audit2.datasets" [colors]="charts.environment.audit2.colors" [labels]="charts.environment.audit2.labels" [chartType]="charts.environment.audit2.chartType" legend="true" [options]="charts.environment.audit2.options"></canvas>
      <h4>Audit intermédiaire</h4>
    </md-card>
  </div>

  <md-card style="max-width:300px!important;margin-top: 30px!important" *ngIf="!balance_sheet_environmental_pie">
    <canvas baseChart [datasets]="charts.environment.global.datasets" [colors]="charts.environment.global.colors" [labels]="charts.environment.global.labels" [chartType]="charts.environment.global.chartType" [legend]="false" [options]="charts.environment.global.options"></canvas>
    <h4>Gauche: audit de départ</h4>
    <h4>Droite: audit intermédiaire</h4>
  </md-card>

  <md-card style="max-width:400px!important">
    <canvas baseChart [datasets]="charts.environment.radar.datasets" [colors]="charts.environment.radar.colors" [labels]="charts.environment.radar.labels" [chartType]="charts.environment.radar.chartType" [legend]="false" [options]="charts.environment.radar.options"></canvas>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color pdf-float-left" style="background-color: rgba(173, 174, 186, 1)"></div>
      <div fxFlexOffset="8px" class="pdf-float-left">Audit de départ</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center" class="pdf-clear-both-after">
      <div class="echos-color pdf-float-left" style="background-color: rgba(63, 136, 38, 1)"></div>
      <div fxFlexOffset="8px" class="pdf-float-left">Audit intermédiaire</div>
    </div>
  </md-card>

  <!-- Page des graphs des familles environnementales -->

  <div class="echos-title" style="page-break-before:always">Détail: Évolution des impacts par thème</div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngFor="let chart of charts.environment.themes" style="page-break-inside:avoid">
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <h2>{{chart.title}}</h2>
      <canvas baseChart [datasets]="chart.chart.datasets" [colors]="chart.chart.colors" [labels]="chart.chart.labels" [chartType]="chart.chart.chartType" [legend]="false" [options]="chart.chart.options"></canvas>
      <h4>Gauche: audit de départ</h4>
      <h4>Droite: audit intermédiaire</h4>
    </md-card>
    <div class="comment-container" fxFlex class="pdf-float-left">
      <textarea placeholder="Commentaire..." class="textarea-to-pdf-div" style="border: 1px solid #c0c0c0; margin-top: 0px;min-width: 450px;max-width: 450px;min-height:200px"></textarea>
    </div>
  </div>

  <!-- Page du résumé du bilan social -->

  <div class="echos-title" style="page-break-before:always">Bilan: Évolution de l'impact sur les questions sociales</div>
  <div class="echos-infos">
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Audit de départ:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit1.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label class="pdf-float-left">Audit intermédiaire:</label>
      <div class="pdf-float-left" fxFlexOffset="10px">{{audit2.audit.createdAt | date:'dd/MM/y'}}</div>
    </div>
  </div>

  <div style="margin: 30px 0 5px 0">
    <a (click)="balance_sheet_social_pie = !balance_sheet_social_pie" [ngClass]="{'not-in-pdf' : true}" style="cursor:pointer">Changer de représentation graphique</a>
  </div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngIf="balance_sheet_social_pie">
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <canvas baseChart [datasets]="charts.social.audit1.datasets" [colors]="charts.social.audit1.colors" [labels]="charts.social.audit1.labels" [chartType]="charts.social.audit1.chartType" legend="true" [options]="charts.social.audit1.options"></canvas>
      <h4>Audit de départ</h4>
    </md-card>
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <canvas baseChart [datasets]="charts.social.audit2.datasets" [colors]="charts.social.audit2.colors" [labels]="charts.social.audit2.labels" [chartType]="charts.social.audit2.chartType" legend="true" [options]="charts.social.audit2.options"></canvas>
      <h4>Audit intermédiaire</h4>
    </md-card>
  </div>

  <div *ngIf="!balance_sheet_social_pie">
    <md-card style="max-width:300px!important">
      <canvas baseChart [datasets]="charts.social.global.datasets" [colors]="charts.social.global.colors" [labels]="charts.social.global.labels" [chartType]="charts.social.global.chartType" [legend]="false" [options]="charts.social.global.options"></canvas>
      <h4>Gauche: audit de départ</h4>
      <h4>Droite: audit intermédiaire</h4>
    </md-card>
  </div>

  <md-card style="max-width:400px!important;margin-top: 30px!important">
    <canvas baseChart [datasets]="charts.social.radar.datasets" [colors]="charts.social.radar.colors" [labels]="charts.social.radar.labels" [chartType]="charts.social.radar.chartType" [legend]="false" [options]="charts.social.radar.options"></canvas>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color pdf-float-left" style="background-color: rgba(173, 174, 186, 1)"></div>
      <div fxFlexOffset="8px" class="pdf-float-left">Audit de départ</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color pdf-float-left" style="background-color: rgba(63, 136, 38, 1)"></div>
      <div fxFlexOffset="8px" class="pdf-float-left">Audit intermédiaire</div>
    </div>
  </md-card>

  <!-- Page des graphs des familles sociales -->

  <div class="echos-title" style="page-break-before:always">Détail: Évolution des impacts par thème</div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngFor="let chart of charts.social.themes" style="page-break-inside:avoid">
    <md-card style="max-width:300px!important" class="pdf-float-left">
      <h2>{{chart.title}}</h2>
      <canvas baseChart [datasets]="chart.chart.datasets" [colors]="chart.chart.colors" [labels]="chart.chart.labels" [chartType]="chart.chart.chartType" [legend]="false" [options]="chart.chart.options"></canvas>
      <h4>Gauche: audit de départ</h4>
      <h4>Droite: audit intermédiaire</h4>
    </md-card>
    <div class="comment-container pdf-float-left" fxFlex>
      <textarea placeholder="Commentaire..." class="textarea-to-pdf-div" style="border: 1px solid #c0c0c0; margin-top: 0px;min-width: 450px;max-width: 450px;min-height:200px"></textarea>
    </div>
  </div>

</div>

<div style="height: 80px"></div>
