<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Comparaison de deux audits</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Dossier de labellisation
  </h1>
</div>

<div>Nom de la crèche:  {{audit1.audit.establishment.name}}</div>
<div>Date d'entrée de la démarche:  {{audit1.audit.establishment.createdAt | date:'dd/MM/y'}}</div>
<div>Date du premier audit:  {{audit1.audit.createdAt | date:'dd/MM/y'}}</div>
<div>Date du second audit:  {{audit2.audit.createdAt | date:'dd/MM/y'}}</div>
  {{charts.environment.audit1|json}}
  <div></div>
  {{charts.environment.audit2|json}}
  <md-card>
    <canvas baseChart [datasets]="charts.environment.audit1.datasets" [colors]="charts.environment.audit1.colors" [labels]="charts.environment.audit1.labels" [chartType]="charts.environment.audit1.chartType" legend="true" [options]="charts.environment.audit1.options"></canvas>
  </md-card>
  <md-card>
    <canvas baseChart [datasets]="charts.environment.audit2.datasets" [colors]="charts.environment.audit2.colors" [labels]="charts.environment.audit2.labels" [chartType]="charts.environment.audit2.chartType" legend="true" [options]="charts.environment.audit2.options"></canvas>
  </md-card>
  <md-card>
    <canvas baseChart [datasets]="charts.environment.global.datasets" [colors]="charts.environment.global.colors" [labels]="charts.environment.global.labels" [chartType]="charts.environment.global.chartType" legend="true" [options]="charts.environment.global.options"></canvas>
  </md-card>

<h2>Engagement sur les thèmes suivants</h2>

<div class="table">
  <div *ngFor="let theme of themeList">
    {{theme.title}}
  </div>
</div>

<h2>Bilan: Évolution de l'impact sur les questions environnementales</h2>
<h3>Audit de départ:  {{audit1.audit.createdAt | date:'dd/MM/y'}}</h3>
<h3>Audit intermédaire:  {{audit2.audit.createdAt | date:'dd/MM/y'}}</h3>

<div fxLayout="row" *ngIf="chartDatas?.families.environnementales.hasDatas || chartDatas?.families.sociales.hasDatas">
  <md-card style="margin:0 auto" *ngIf="chartDatas?.families.environnementales.hasDatas">
    <div>
      <div class="echos-report-graph-title">Impact environnemental</div>
      <canvas *ngIf="!hideChart" style="max-width: 300px; margin: 0 auto" baseChart [datasets]="chartDatas.families.environnementales.datasets" [colors]="chartDatas.families.environnementales.colors" [labels]="chartDatas.families.environnementales.labels" [chartType]="chartDatas.families.environnementales.chartType" legend="true" [options]="chartDatas.families.environnementales.options"></canvas>
    </div>
  </md-card>
  <md-card style="margin:0 auto" *ngIf="chartDatas?.families.sociales.hasDatas">
    <div>
      <div class="echos-report-graph-title">Impact social</div>
      <canvas *ngIf="!hideChart" style="max-width: 300px; margin: 0 auto" baseChart [datasets]="chartDatas.families.sociales.datasets" [colors]="chartDatas.families.sociales.colors" [labels]="chartDatas.families.sociales.labels" [chartType]="chartDatas.families.sociales.chartType" legend="true" [options]="chartDatas.families.sociales.options"></canvas>
    </div>
  </md-card>
  <md-card style="margin:0 auto" *ngIf="chartDatas?.families.other.hasDatas">
    <div>
      <div class="echos-report-graph-title">Non classé</div>
      <canvas *ngIf="!hideChart" style="max-width: 300px; margin: 0 auto" baseChart [datasets]="chartDatas.families.other.datasets" [colors]="chartDatas.families.other.colors" [labels]="chartDatas.families.other.labels" [chartType]="chartDatas.families.other.chartType" legend="true" [options]="chartDatas.families.other.options"></canvas>
    </div>
  </md-card>
</div>

<div *ngIf="chartDatas && !chartDatas?.families.environnementales.hasDatas && !chartDatas?.families.sociales.hasDatas">
  <md-card style="margin:0 auto">
    <canvas *ngIf="!hideChart" style="max-width: 300px; margin: 0 auto" baseChart [datasets]="chartDatas.families.global.datasets" [colors]="chartDatas.families.global.colors" [labels]="chartDatas.families.global.labels" [chartType]="chartDatas.families.global.chartType" legend="true" [options]="chartDatas.families.global.options"></canvas>
  </md-card>
</div>

<div style="height: 80px"></div>
