<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Liste des établissements</div>
  <div *ngIf="!current.id" fxFlexAlign="start">Ajouter un établissement</div>
  <div *ngIf="current.id" fxFlexAlign="start">Modifier un établissement</div>
</div>

<h1 *ngIf="!current.id">Ajouter un établissement</h1>
<h1 *ngIf="current.id">Modifier un établissement</h1>

<div class="echos-help-block">Les champs obligatoires sont identifiés par un astérisque.</div>

<form (ngSubmit)="save()" [formGroup]="echosForm">
  <div>
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nom de l'établissement *">
      <mat-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Le nom de l'établissement est requis</mat-hint>
      <mat-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Le nom de l'établissement doit contenir 3 caractères minimum</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" formControlName="labelcode" placeholder="Code de labellisation">
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-select placeholder="Type *" formControlName="type">
      <mat-option *ngFor="let t of current.typeList" [value]="t.id">{{t.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Statut *" formControlName="status">
      <mat-option *ngFor="let s of current.statusList" [value]="s.id">{{s.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-form-field>
      <input matInput formControlName="address" placeholder="Adresse">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="postalcode" placeholder="Code postal">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput formControlName="city" placeholder="Ville">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="tel" formControlName="phone" placeholder="Téléphone">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="email" formControlName="mail" placeholder="Adresse mail">
    </mat-form-field>
  </div>
  <input *ngIf="current.id" type="hidden" formControlName="id">
  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button *ngIf="current.id" (click)="delete(current.id)" mat-raised-button color="warn">Effacer</button>
    <button mat-raised-button (click)="goBack()" fxFlexOffset="20px">Annuler</button>
    <button fxFlexOffset="20px" mat-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
  </div>
</form>
