<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/utilisateur/liste" fxFlexAlign="start">Liste des utilisateurs</div>
  <div fxFlexAlign="start">Fiche utilisateur</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Utilisateur <span clas="titleItem">{{item.name}}</span>
  </h1>
  <button mat-fab color="primary" [routerLink]="['/utilisateur', item.id, 'editer']"><mat-icon>edit</mat-icon></button>
</div>

<div class="echos-title">Informations</div>

<div class="echos-infos">
  <div *ngIf="item.name" fxLayout="row">
    <label>Nom :</label>
    <div fxFlexOffset="10px">{{item.name}}</div>
  </div>

  <div *ngIf="item.email" fxLayout="row">
    <label>Adresse E-Mail:</label>
    <div fxFlexOffset="10px"><a href="mailto:{{item.email}}" title="email">{{item.email}}</a></div>
  </div>

  <div *ngIf="item.account_type" fxLayout="row">
    <label>Type de compte :</label>
    <div fxFlexOffset="10px">{{getAccountType(item.account_type).label}}</div>
  </div>

</div>
