<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Liste des formulaires "Recap actions"</div>
  <div *ngIf="!inquiryform.id_inquiryform" fxFlexAlign="start">Ajouter un questionnaire</div>
  <div *ngIf="inquiryform.id_inquiryform" fxFlexAlign="start">Modifier un modifier</div>
</div>

<h1 *ngIf="!inquiryform.id_inquiryform">Créer un thème pour un questionnaire "Recap actions"</h1>
<h1 *ngIf="inquiryform.id_inquiryform">Modifier le thème d'un questionnaire "Recap actions"</h1>

<p>Les champs obligatoires sont identifiés par un astérisque.</p>

<form [formGroup]="echosForm">
  <div>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Titre *">
      <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('required')">Le nom est requis</mat-hint>
      <mat-hint *ngIf="titleCtrl.dirty && titleCtrl.hasError('minlength')">Le nom doit contenir 3 caractères minimum</mat-hint>
    </mat-form-field>
  </div>

  <div style="margin: 20px 0 50px 0">
    <div>
      <mat-checkbox (change)="unsetNodeLink()" #linkToATheme [checked]="echosForm.get('linked_to_node_id').value"></mat-checkbox> Lier à un thème
    </div>

    <div style="margin-top: 15px" *ngIf="linkToATheme.checked">
      <mat-form-field>
        <mat-select placeholder="Choix du thème" formControlName="linked_to_node_id">
          <mat-option *ngFor="let theme of inquiryFormThemes" [value]="theme.id_node">
            {{theme.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button *ngIf="item.id_node" (click)="delete()" type="button" mat-raised-button color="warn">Effacer</button>
    <button mat-raised-button (click)="goBack()" type="button" fxFlexOffset="20px">Annuler</button>
    <button fxFlexOffset="20px" (click)="save()" mat-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
  </div>
</form>
