<h1 *ngIf="!current.id">Ajouter un établissement</h1>
<h1 *ngIf="current.id">Modifier un établissement</h1>

<p>Les champs obligatoires sont identifiés par un astérisque.</p>

<form (ngSubmit)="save()" [formGroup]="echosForm">
  <div>
    <md-input-container>
      <input md-input formControlName="name" placeholder="Nom de l'établissement *">
      <md-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Le nom de l'établissement est requis</md-hint>
      <md-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Le nom de l'établissement doit contenir 3 caractères minimum</md-hint>
    </md-input-container>
  </div>
  <!-- <div>
    <md-select placeholder="Type *" formControlName="type">
      <md-option *ngFor="let t of current.getTypes()" [value]="t.id">{{t.label}}</md-option>
    </md-select>
  </div> -->
  <!-- <div>
    <md-select placeholder="Status *" formControlName="status">
      <md-option *ngFor="let s of current.getStatus()" [value]="s.id">{{s.label}}</md-option>
    </md-select>
  </div> -->
  <div>
    <md-input-container>
      <input md-input formControlName="address" placeholder="Adresse">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input formControlName="postalcode" placeholder="Code postal">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input formControlName="city" placeholder="Ville">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input type="tel" formControlName="phone" placeholder="Téléphone">
    </md-input-container>
  </div>
  <div>
    <md-input-container>
      <input md-input type="email" formControlName="mail" placeholder="Adresse mail">
    </md-input-container>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button md-raised-button routerLink="../">Annuler</button>
    <button fxFlexOffset="20px" md-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
  </div>
</form>
