<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/questionnaire/liste" fxFlexAlign="start">Liste des questionnaires</div>
  <div fxFlexAlign="start">Fiche questionnaire</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Fiche questionnaire #{{inquiryform.id}}
  </h1>
  <button md-fab color="primary" [routerLink]="['/questionnaire', inquiryform.id, 'editer']"><md-icon>edit</md-icon></button>
</div>

<div class="echos-title">{{inquiryform.title}}</div>

<div *ngIf="inquiryform.description" class="echos-caption">
  {{inquiryform.description}}
</div>

<div class="echos-title" style="margin: 80px 0 20px 0">
  <div *ngIf="!node">
    <div fxFlex>Liste des thèmes</div>
  </div>
  <div *ngIf="node" fxLayout="row" fxLayoutAlign="start center">
    <div>Liste des thèmes</div>
    <div *ngFor="let np of node.nodepath" class="itemOfPath">{{np.title}}</div>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="start center" class="search-container">
  <md-input-container fxFlex>
    <input mdInput #search type="search" placeholder="Recherche" fxFlex (keyup)="filterList(search.value)">
  </md-input-container>
</div>

<md-toolbar fxLayout="row" fxLayoutAlign="start center">
  <md-slide-toggle color="primary" (change)="toggleAll()" [checked]="toggle">Tout sélectionner</md-slide-toggle>
  <div fxFlex fxFlexOffset="50px">
    <button md-button color="accent" *ngIf="!hideUnselected" (click)="hideUnselected = !hideUnselected">N'afficher que les éléments sélectionnés</button>
    <button md-button color="accent" *ngIf="hideUnselected" (click)="hideUnselected = !hideUnselected">Afficher tous les éléments</button>
  </div>
  <button fxFlexOffset="45px" *ngIf="node" md-button (click)="goToParent(node.id_node_parent)">Remonter d'un niveau</button>
</md-toolbar>

<md-list>
  <md-list-item class="echos-list-item" *ngFor="let childItem of filteredChildList" [ngClass]="{hide: !childItem.selected && hideUnselected}">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <md-slide-toggle color="primary" (change)="toggleItem(childItem)" [checked]="childItem.selected"></md-slide-toggle>
      <div *ngIf="childItem.color" class="echos-color" [ngStyle]="{'background-color': '#'+childItem.color}"></div>
      <div fxFlex fxFlexOffset="20px" (click)="toggleItem(childItem)">
        <div fxLayout="column" fxLayoutAlign="start center" class="have-childs">
          <div fxFlex fxFlexAlign="start">{{childItem.title}}</div>
          <div fxFlexAlign="start" *ngIf="childItem.description">{{childItem.description}}</div>
        </div>
      </div>
      <button md-button *ngIf="childItem.selected && (!node || (node && !node.id_node_parent))" color="primary" (click)="getChilds(childItem.id_node)">Affiner le choix</button>
    </div>
  </md-list-item>
</md-list>

<md-toolbar fxLayout="row" fxLayoutAlign="start center">
  <md-slide-toggle color="primary" (change)="toggleAll()" [checked]="toggle">Tout sélectionner</md-slide-toggle>
  <div fxFlex fxFlexOffset="50px">
    <button md-button color="accent" *ngIf="!hideUnselected" (click)="hideUnselected = !hideUnselected">N'afficher que les éléments sélectionnés</button>
    <button md-button color="accent" *ngIf="hideUnselected" (click)="hideUnselected = !hideUnselected">Afficher tous les éléments</button>
  </div>
  <button fxFlexOffset="45px" *ngIf="node" md-button (click)="goToParent(node.id_node_parent)">Remonter d'un niveau</button>
</md-toolbar>
