<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Liste des questionnaires</div>
  <div fxFlexAlign="start">Fiche questionnaire</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Fiche questionnaire #{{item.id}}
  </h1>
  <button md-fab color="primary" [routerLink]="['/questionnaire', item.id, 'editer']"><md-icon>edit</md-icon></button>
</div>

<div class="echos-title">{{item.title}}</div>

<div *ngIf="item.description" class="echos-caption">
  {{item.description}}
</div>

<div *ngIf="!themeList" class="echos-warning">Aucun thème trouvé.</div>

<div class="echos-title" fxLayout="row" fxLayoutAlign="start center" style="margin: 80px 0 20px 0">
  <div fxFlex>Liste des thèmes disponibles</div>
  <button md-raised-button [routerLink]="['/theme', 'creer']"><md-icon>add</md-icon>Créer un thème</button>
</div>

<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/theme', theme.id, 'editer']" *ngFor="let theme of themeList">
    <div md-line fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex>
        <div>{{theme.title}}</div>
        <div fxLayout="row">
            <div *ngIf="item.description">{{theme.description}}</div>
        </div>
      </div>
      <md-icon color="primary">chevron_right</md-icon>
    </div>
  </md-list-item>
</md-list>
