<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Liste des établissements</div>
  <div fxFlexAlign="start">Fiche établissement</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Fiche établissement<span class="titleItem">{{item.name}}</span>
  </h1>
  <button *ngIf="authService.isSuperAgent()" md-fab color="primary" [routerLink]="['/etablissement', item.id, 'editer']"><md-icon>edit</md-icon></button>
</div>

<div class="echos-title">Informations</div>

<div class="echos-infos">

  <div fxLayout="row">
    <label>Type:</label>
    <div fxFlexOffset="10px">{{getTypeLabel()}}</div>
  </div>

  <div fxLayout="row">
    <label>Statut:</label>
    <div fxFlexOffset="10px">{{getStatusLabel()}}</div> </div>

  <div *ngIf="item.address" fxLayout="row">
    <label>Adresse:</label>
    <div fxFlexOffset="10px">{{item.address}}</div>
  </div>

  <div *ngIf="item.postalcode" fxLayout="row">
    <label>Code postal:</label>
    <div fxFlexOffset="10px">{{item.postalcode}}</div>
  </div>

  <div *ngIf="item.city" fxLayout="row">
    <label>Ville:</label>
    <div fxFlexOffset="10px">{{item.city}}</div>
  </div>

  <div *ngIf="item.phone" fxLayout="row">
    <label>Numéro de téléphone:</label>
    <div fxFlexOffset="10px">{{item.phone}}</div>
  </div>

  <div *ngIf="item.mail" fxLayout="row">
    <label>Adresse mail:</label>
    <div fxFlexOffset="10px"><a href="mailto:{{item.mail}}" title="email">{{item.mail}}</a></div>
  </div>
</div>

<div class="echos-title" fxLayout="row" style="margin-top: 80px">
  <div fxFlex>Liste des audits</div>
  <button *ngIf="authService.isSuperAgent()" md-raised-button [routerLink]="['/audit/creer', item.id]">Démarrer un audit<md-icon>add</md-icon></button>
</div>

<div *ngIf="!item.audits || !item.audits.length" class="echos-warning">Aucun audit trouvé.</div>

<div class="help">
  Pour comparer deux audits, sélectionnez les à l'aide des cases à cocher et cliquez sur le bouton "Comparer".
</div>

<md-toolbar *ngIf="item.audits && item.audits.length" style="margin: 20px 0 0 0">
  <button md-raised-button style="margin: 0 auto" (click)="compare()" [disabled]="auditsToCompare.length != 2" color='primary'>Comparer</button>
</md-toolbar>

<md-list>
  <md-list-item class="echos-list-item" *ngFor="let audit of item.audits">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <md-checkbox [disabled]="auditsToCompare.length == 2 && auditsToCompare.indexOf(audit.id) == -1" (change)="toggleCompare(audit.id)" fxFlex="50px"></md-checkbox>
      <div fxFlex class="have-childs" fxFill>
        <div>
          <div>{{audit.inquiryform?.title}} - {{audit.createdAt | date:'dd/MM/yyyy à HH:mm'}}</div>
        </div>
        <div *ngIf="!audit.active">Terminé</div>
        <div *ngIf="audit.active" style="color: rgb(96, 190, 64)">En cours</div>
      </div>
      <div class="percent">{{audit.cached_percent_complete * 100 | number:'1.0-0' }} %</div>
      <button md-button *ngIf="audit.active || authService.isSuperAgent()" [routerLink]="['/audit', audit.key]"><md-icon color="primary">chevron_right</md-icon></button>
    </div>
  </md-list-item>
</md-list>

<md-toolbar *ngIf="item.audits && item.audits.length" style="text-align: center">
  <button md-raised-button style="margin: 0 auto" (click)="compare()" [disabled]="auditsToCompare.length != 2" color="primary">Comparer</button>
</md-toolbar>
