<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div routerLink="/etablissement/liste" fxFlexAlign="start">Liste des établissements</div>
  <div fxFlexAlign="start">Fiche établissement</div>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
  <h1 fxFlex>
    Fiche établissement
  </h1>
  <button md-fab color="primary" [routerLink]="['/etablissement', item.id, 'editer']"><md-icon>edit</md-icon></button>
</div>

<div class="echos-title">{{item.name}}</div>

<div class="echos-infos">

  <div fxLayout="row">
    <label>Type:</label>
    <div fxFlexOffset="10px">{{getTypeLabel()}}</div>
  </div>

  <div fxLayout="row">
    <label>Status:</label>
    <div fxFlexOffset="10px">{{getStatusLabel()}}</div>
  </div>

  <div *ngIf="item.address" fxLayout="row">
    <label>Adresse:</label>
    <div fxFlexOffset="10px">{{item.address}}</div>
  </div>

  <div *ngIf="item.postalcode" fxLayout="row">
    <label>Code postal:</label>
    <div fxFlexOffset="10px">{{item.postalcode}}</div>
  </div>

  <div *ngIf="item.city" fxLayout="row">
    <label>Ville:</label>
    <div fxFlexOffset="10px">{{item.city}}</div>
  </div>

  <div *ngIf="item.phone" fxLayout="row">
    <label>Numéro de téléphone:</label>
    <div fxFlexOffset="10px">{{item.phone}}</div>
  </div>

  <div *ngIf="item.mail" fxLayout="row">
    <label>Adresse mail:</label>
    <div fxFlexOffset="10px"><a href="mailto:{{item.mail}}" title="email">{{item.mail}}</a></div>
  </div>
</div>

<div class="echos-title" fxLayout="row" style="margin-top: 80px">
  <div fxFlex>Liste des audits</div>
  <button md-raised-button [routerLink]="['/audit/creer', item.id]">Démarrer un audit<md-icon>add</md-icon></button>
</div>

<div *ngIf="!auditList || !auditList.length" class="echos-warning">Aucun audit trouvé.</div>

<md-list>
  <md-list-item class="echos-list-item" [routerLink]="['/audit', item.key]" *ngFor="let item of auditList">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex class="have-childs">
        <div>
          <div fxLayout="row">
            <div>Le {{item.createdAt | date:'dd/MM/yyyy à hh:mm'}}</div>
          </div>
        </div>
        <div *ngIf="!item.active">Finalisé</div>
        <div *ngIf="item.active" style="color: rgb(96, 190, 64)">En cours</div>
      </div>
      <div class="percent">{{item.cached_percent_complete}} %</div>
      <md-icon color="primary">chevron_right</md-icon>
    </div>
  </md-list-item>
</md-list>
