
<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start" routerLink="/etablissement/{{audit1.audit.establishment.id}}">{{audit1.audit.establishment.name}}</div>
  <div fxFlexAlign="start">Comparaison de deux audits</div>
</div>


<!-- Premiere page -->

<div class="labeling-file-generate-component" id='exportpdf'>

  <div fxLayout="row" fxLayoutAlign="start center" class="pdf-clear-both-after">
    <h1 fxFlex>
      Dossier de labellisation
    </h1>
    <div class="report-logo pdf-float-right" style="width: 150px;height: 150px;" matTooltip="Cliquez pour changer de logo" matTooltipPosition="below">
      <img [src]="customisations.logo"(click)="customisations.swapLogo();enableSaveButton();" style="width: 150px;height: 150px;">
    </div>
    <button mat-fab class='not-in-pdf' color="primary" fxFlexOffset="8px" [matMenuTriggerFor]="menucsv" matTooltip="Exporter" matTooltipPosition="below"><mat-icon>grid_on</mat-icon></button>
    <mat-menu #menucsv="matMenu">
      <button mat-menu-item (click)="exportCSV('csv')">Format CSV</button>
      <button mat-menu-item (click)="exportCSV('xlsx')">Format XLSX</button>
    </mat-menu>
    <button class='not-in-pdf' mat-fab color="primary" (click)="pdf()" fxFlexOffset="8px" matTooltip="Générer un PDF" matTooltipPosition="below"><mat-icon>picture_as_pdf</mat-icon></button>
  </div>

  <div class="echos-infos">
    <div fxLayout="row" class="not-in-pdf pdf-clear-both-after">
      <label>Nom de la crèche:</label>
      <div fxFlexOffset="10px">{{audit1.audit.establishment.name}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label>Code de labellisation:</label>
      <div fxFlexOffset="10px">{{audit1.audit.establishment.labelcode}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after">
      <label>Date du premier audit:</label>
      <div fxFlexOffset="10px">{{audit1.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" *ngIf="audit2">
      <label>Date du second audit:</label>
      <div fxFlexOffset="10px">{{audit2.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
    <div *ngFor="let cinfo of customisations.custom_headers" fxLayout="row" class="pdf-clear-both-after">
      <label>{{cinfo.label}}:</label>
      <div fxFlexOffset="10px">{{cinfo.value}}</div>
      <button [ngClass]="{'not-in-pdf' : true}" mat-raised-button color="warn" (click)="customisations.deleteCustomHeader(cinfo.label);enableSaveButton();" fxFlexOffset="10px"><mat-icon>delete</mat-icon></button>
    </div>
    <div class="pdf-clear-both-after not-in-pdf">
      <mat-form-field>
        <input matInput #custom_headerLabel placeholder="Libellé">
      </mat-form-field>
      <mat-form-field fxFlexOffset="8px">
        <input matInput #custom_headerValue placeholder="Valeur">
      </mat-form-field>
      <button mat-raised-button style="max-height: 45px" (click)="customisations.addCustomHeader(custom_headerLabel.value, custom_headerValue.value); custom_headerLabel.value=''; custom_headerValue.value='';enableSaveButton();" fxFlexOffset="8px">Ajouter une ligne</button>
    </div>
  </div>

  <div *ngIf="authService.isSuperAgent()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px" class="not-in-pdf">
    <button *ngIf="authService.isAdmin()" mat-raised-button color="warn" (click)="delete()">Effacer le dossier de labellisation</button>
    <button mat-raised-button color="primary" (click)="save()" fxFlexOffset="8px" [disabled]="!saveButtonEnabled">Enregistrer le dossier de labellisation</button>
  </div>

  <div class="echos-title">Engagement sur les thèmes suivants: </div>

  <div class="table">
    <div *ngFor="let theme of themeList" fxLayout="row" [ngClass]="{'not-in-pdf' : !customisations.themes_engaged[theme.id_node], 'pdf-clear-both-after': true}" style="padding: 10px 5px;border-bottom: 1px solid #d0d0d0;page-break-inside: avoid;">
      <div class="not-in-pdf">
        <mat-checkbox (change)="customisations.themes_engaged[theme.id_node] = !customisations.themes_engaged[theme.id_node];enableSaveButton()" [checked]="customisations.themes_engaged[theme.id_node]"></mat-checkbox>
      </div>
      <div fxFlexOffset="8px" style="min-width: 300px">{{theme.title}}</div>
      <div fxFlex="1 1 100%" fxFlex *ngIf="customisations.themes_engaged[theme.id_node]">
        <!-- <quill [config]="editorConfig" [value]="customisations.get(theme.id, 'themes_commitments')" (contentChange)="customisations.setThemeCommitment(theme.id, $event.html)"></quill> -->
        <quill [config]="editorConfig" [(value)]="customisations.themes_commitments[theme.id]" (contentChange)="enableSaveButton()" [disabled]="disableQuill"></quill>
      </div>
    </div>
  </div>

  <!-- Page du résumé du bilan environnemental -->
  <div class="echos-title" style="page-break-before:always">Bilan: Évolution de l'impact sur les questions environnementales</div>

  <div class="echos-infos">
    <div fxLayout="row" class="pdf-clear-both-after">
      <label>Audit de départ:</label>
      <div fxFlexOffset="8px">{{audit1.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" *ngIf="audit2">
      <label>Audit intermédiaire:</label>
      <div fxFlexOffset="8px">{{audit2.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
  </div>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_environmental_pie" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_pie = false">Afficher les graphiques de type "camembert"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_environmental_pie" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_pie = true">Masquer les graphiques de type "camembert"</button>
  </div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngIf="!customisations.hide_balance_sheet_environmental_pie">
    <mat-card>
      <canvas class="echos-chart echos-chart-pie" baseChart [datasets]="charts.environment.audit1.datasets" [colors]="charts.environment.audit1.colors" [labels]="charts.environment.audit1.labels" [chartType]="charts.environment.audit1.chartType" legend="true" [options]="charts.environment.audit1.options"></canvas>
      <h4>Audit de départ</h4>
    </mat-card>
    <mat-card *ngIf="audit2">
      <canvas class="echos-chart echos-chart-pie" baseChart [datasets]="charts.environment.audit2.datasets" [colors]="charts.environment.audit2.colors" [labels]="charts.environment.audit2.labels" [chartType]="charts.environment.audit2.chartType" legend="true" [options]="charts.environment.audit2.options"></canvas>
      <h4>Audit intermédiaire</h4>
    </mat-card>
  </div>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_environmental_bar" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_bar = false">Afficher le graphique de type "baton"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_environmental_bar" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_bar = true">Masquer le graphiques de type "baton"</button>
  </div>

  <mat-card *ngIf="!customisations.hide_balance_sheet_environmental_bar">
    <canvas class="echos-chart" baseChart [datasets]="charts.environment.global.datasets" [colors]="charts.environment.global.colors" [labels]="charts.environment.global.labels" [chartType]="charts.environment.global.chartType" [legend]="false" [options]="charts.environment.global.options"></canvas>
    <h4>Gauche: audit de départ</h4>
    <h4>Droite: audit intermédiaire</h4>
  </mat-card>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_environmental_radar" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_radar = false">Afficher le graphique de type "araignée"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_environmental_radar" (click)="enableSaveButton();customisations.hide_balance_sheet_environmental_radar = true">Masquer le graphique de type "araignée"</button>
  </div>

  <mat-card *ngIf="!customisations.hide_balance_sheet_environmental_radar">
    <canvas class="echos-chart echos-chart-radar" baseChart [datasets]="charts.environment.radar.datasets" [colors]="charts.environment.radar.colors" [labels]="charts.environment.radar.labels" [chartType]="charts.environment.radar.chartType" [legend]="false" [options]="charts.environment.radar.options"></canvas>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color" style="background-color: rgba(173, 174, 186, 1)"></div>
      <div fxFlexOffset="8px">Audit de départ</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color" style="background-color: rgba(63, 136, 38, 1)"></div>
      <div fxFlexOffset="8px">Audit intermédiaire</div>
    </div>
  </mat-card>

  <!-- Page des graphs des familles environnementales -->

  <div style="margin-top: 50px; cursor: pointer" [ngClass]="{'not-in-pdf' : true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_environment_details" (click)="enableSaveButton();customisations.hide_environment_details = false">Afficher le détail des évolutions des impacts par thème</button>
    <button mat-raised-button *ngIf="!customisations.hide_environment_details" (click)="enableSaveButton();customisations.hide_environment_details = true">Masquer le détail des évolutions des impacts par thème</button>
  </div>

  <div *ngIf="!customisations.hide_environment_details">

    <div class="echos-title" style="page-break-before:always">Détail: Évolution des impacts par thème</div>

    <div fxLayout="row" class="tarace pdf-clear-both-after" *ngFor="let chart of charts.environment.themes; let idx = index" style="page-break-inside:avoid!important;margin-bottom:20px">
      <div *ngIf="idx != 0 && idx % 3 == 0" style="page-break-before:always"></div>
      <mat-card>
        <h2>{{chart.title}}<span class="aste" *ngIf="customisations.themes_engaged[chart.id_theme]">*</span></h2>
        <div *ngIf="customisations.themes_engaged[chart.id_theme]" class="chosen-theme">* Thème choisi par la crèche</div>
        <canvas class="echos-chart" baseChart [datasets]="chart.chart.datasets" [colors]="chart.chart.colors" [labels]="chart.chart.labels" [chartType]="chart.chart.chartType" [legend]="false" [options]="chart.chart.options"></canvas>
        <h4>Gauche: audit de départ</h4>
        <h4>Droite: audit intermédiaire</h4>
      </mat-card>
      <div class="comment-container" style="flex: 1 1 auto;padding: 35px 0 35px 0">
        <quill [config]="editorConfig" [(value)]="customisations.themes_comments[chart.id_theme]" (contentChange)="enableSaveButton()" [disabled]="disableQuill"></quill>
      </div>
    </div>

  </div>

  <!-- Page du résumé du bilan social -->

  <div class="echos-title" style="page-break-before:always">Bilan: Évolution de l'impact sur les questions sociales</div>
  <div class="echos-infos">
    <div fxLayout="row" class="pdf-clear-both-after">
      <label>Audit de départ:</label>
      <div fxFlexOffset="8px">{{audit1.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" *ngIf="audit2">
      <label>Audit intermédiaire:</label>
      <div fxFlexOffset="8px">{{audit2.audit.date_start | date:'dd/MM/y'}}</div>
    </div>
  </div>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_social_pie" (click)="enableSaveButton();customisations.hide_balance_sheet_social_pie = false">Afficher les graphiques de type "camembert"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_social_pie" (click)="enableSaveButton();customisations.hide_balance_sheet_social_pie = true">Masquer les graphiques de type "camembert"</button>
  </div>

  <div fxLayout="row" class="pdf-clear-both-after" *ngIf="!customisations.hide_balance_sheet_social_pie">
    <mat-card>
      <canvas class="echos-chart echos-chart-pie" baseChart [datasets]="charts.social.audit1.datasets" [colors]="charts.social.audit1.colors" [labels]="charts.social.audit1.labels" [chartType]="charts.social.audit1.chartType" legend="true" [options]="charts.social.audit1.options"></canvas>
      <h4>Audit de départ</h4>
    </mat-card>
    <mat-card *ngIf="audit2">
      <canvas class="echos-chart echos-chart-pie" baseChart [datasets]="charts.social.audit2.datasets" [colors]="charts.social.audit2.colors" [labels]="charts.social.audit2.labels" [chartType]="charts.social.audit2.chartType" legend="true" [options]="charts.social.audit2.options"></canvas>
      <h4>Audit intermédiaire</h4>
    </mat-card>
  </div>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_social_bar" (click)="enableSaveButton();customisations.hide_balance_sheet_social_bar = false">Afficher les graphiques de type "baton"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_social_bar" (click)="enableSaveButton();customisations.hide_balance_sheet_social_bar = true">Masquer les graphiques de type "baton"</button>
  </div>

  <div *ngIf="!customisations.hide_balance_sheet_social_bar">
    <mat-card>
      <canvas class="echos-chart" baseChart [datasets]="charts.social.global.datasets" [colors]="charts.social.global.colors" [labels]="charts.social.global.labels" [chartType]="charts.social.global.chartType" [legend]="false" [options]="charts.social.global.options"></canvas>
      <h4>Gauche: audit de départ</h4>
      <h4>Droite: audit intermédiaire</h4>
    </mat-card>
  </div>

  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_balance_sheet_social_radar" (click)="enableSaveButton();customisations.hide_balance_sheet_social_radar = false">Afficher les graphiques de type "araignée"</button>
    <button mat-raised-button *ngIf="!customisations.hide_balance_sheet_social_radar" (click)="enableSaveButton();customisations.hide_balance_sheet_social_radar = true">Masquer les graphiques de type "araignée"</button>
  </div>

  <mat-card *ngIf="!customisations.hide_balance_sheet_social_radar">
    <canvas class="echos-chart echos-chart-radar" baseChart [datasets]="charts.social.radar.datasets" [colors]="charts.social.radar.colors" [labels]="charts.social.radar.labels" [chartType]="charts.social.radar.chartType" [legend]="false" [options]="charts.social.radar.options"></canvas>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color" style="background-color: rgba(173, 174, 186, 1)"></div>
      <div>Audit de départ</div>
    </div>
    <div fxLayout="row" class="pdf-clear-both-after" fxLayoutAlign="start center">
      <div class="echos-color" style="background-color: rgba(63, 136, 38, 1)"></div>
      <div>Audit intermédiaire</div>
    </div>
  </mat-card>

  <!-- Page des graphs des familles sociales -->

  <div style="margin-top: 50px; cursor: pointer">
  <div [ngClass]="{'not-in-pdf' : true, 'echos-chart-button-container': true}">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_social_details" (click)="enableSaveButton();customisations.hide_social_details = false">Afficher le détail des évolutions des impacts par thème</button>
    <button mat-raised-button *ngIf="!customisations.hide_social_details" (click)="enableSaveButton();customisations.hide_social_details = true">Masquer le détail des évolutions des impacts par thème</button>
  </div>

  <div class="tarace" *ngIf="!customisations.hide_social_details">
    <div class="echos-title" style="page-break-before:always">Détail: Évolution des impacts par thème</div>
    <div fxLayout="row" class="pdf-clear-both-after" *ngFor="let chart of charts.social.themes; let idx = index" style="page-break-inside:avoid;margin-bottom:20px">
      <div *ngIf="idx != 0 && idx % 3 == 0" style="page-break-before:always"></div>
      <mat-card>
        <h2>{{chart.title}}<span class="aste" *ngIf="customisations.themes_engaged[chart.id_theme]">*</span></h2>
        <div *ngIf="customisations.themes_engaged[chart.id_theme]" class="chosen-theme">* Thème choisi par la crèche</div>
        <canvas class="echos-chart" baseChart [datasets]="chart.chart.datasets" [colors]="chart.chart.colors" [labels]="chart.chart.labels" [chartType]="chart.chart.chartType" [legend]="false" [options]="chart.chart.options"></canvas>
        <h4>Gauche: audit de départ</h4>
        <h4>Droite: audit intermédiaire</h4>
      </mat-card>
      <div class="comment-container" style="flex: 1 1 auto;padding: 35px 0 35px 0">
        <!-- <quill [config]="editorConfig" [value]="customisations.get(chart.id_theme, 'themes_comments')" (contentChange)="customisations.setThemeComment(chart.id_theme, $event.html)"></quill> -->
        <quill [config]="editorConfig" [disabled]="disableQuill" [(value)]="customisations.themes_comments[chart.id_theme]" (contentChange)="enableSaveButton()" [disabled]="disableQuill"></quill>
      </div>
    </div>
  </div>


  <!-- Page de commentaires -->

  <div style="margin-top: 50px; cursor: pointer" class="not-in-pdf">
    <button mat-raised-button color="primary" *ngIf="customisations.hide_comments" (click)="enableSaveButton();customisations.hide_comments = false">Afficher les commentaires</button>
    <button mat-raised-button *ngIf="!customisations.hide_comments" (click)="enableSaveButton();customisations.hide_comments = true;enableSaveButton()">Masquer les commentaires</button>
  </div>

  <div *ngIf="!customisations.hide_comments">

    <div style="page-break-inside:avoid;">
      <div class="echos-title">Commentaires</div>
      <div>
        <quill [config]="editorConfig" [(value)]="customisations.comments1" (contentChange)="enableSaveButton()" [disabled]="disableQuill" [disabled]="disableQuill"></quill>
      </div>
    </div>

    <div style="page-break-inside:avoid;">
      <div class="echos-title">Projets à venir</div>
      <div>
        <quill [config]="editorConfig" [(value)]="customisations.comments2" (contentChange)="enableSaveButton()" [disabled]="disableQuill" [disabled]="disableQuill"></quill>
      </div>
    </div>

  </div>

  <div *ngIf="authService.isSuperAgent()" fxLayout="row" fxLayoutAlign="center center" style="margin-top: 30px" class="not-in-pdf">
    <button *ngIf="authService.isAdmin()" mat-raised-button color="warn" (click)="delete()">Effacer le dossier de labellisation</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!saveButtonEnabled">Enregistrer le dossier de labellisation</button>
  </div>

</div>


<div style="height: 80px"></div>
