<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div routerLink="/utilisateur/liste" fxFlexAlign="start">Les utilisateurs</div>
  <div *ngIf="!current.id" fxFlexAlign="start">Ajouter un utilisateur</div>
  <div *ngIf="current.id" fxFlexAlign="start">Modifier un utilisateur</div>
</div>

<h1 *ngIf="!current.id">Ajouter un utilisateur</h1>
<h1 *ngIf="current.id">Modifier un utilisateur</h1>

<p>Les champs obligatoires sont identifiés par un astérisque.</p>

<form (ngSubmit)="save()" [formGroup]="echosForm">

  <mat-form-field>
    <input matInput formControlName="name" placeholder="Nom de l'utilisateur *" [(ngModel)]="current.name">
    <mat-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Le nom de l'utilisateur est requis</mat-hint>
    <mat-hint *ngIf="nameCtrl.dirty && nameCtrl.hasError('minlength')">Le nom de l'utilisateur doit contenir 3 caractères minimum</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="email" [(ngModel)]="current.email">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Mot de passe">
  </mat-form-field>

  <mat-form-field *ngIf="authService.isAdmin()">
    <mat-select placeholder="Type de compte *" formControlName="account_type">
      <mat-option *ngFor="let s of typeList" [value]="s.id">{{s.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <input *ngIf="id" type="hidden" formControlName="id" [(ngModel)]="id">
  <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
    <button *ngIf="id" (click)="del(id)" mat-raised-button color="warn">Supprimer</button>
    <button mat-raised-button (click)="goBack()" fxFlexOffset="20px">Annuler</button>
    <button fxFlexOffset="20px" mat-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
  </div>

</form>
