@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-teal);
$accent:  md-palette($md-orange, 800, A100, A400);
$warn:    md-palette($md-red);
$ecolocreche-app-theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($ecolocreche-app-theme);

$echos-dark-grey: #333;
$echos-grey: #555;
$echos-light-grey: #777;

/* ngx-datatable */
@import '~@swimlane/ngx-datatable/release/datatable.css';
@import '~@swimlane/ngx-datatable/release/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* Hack md-hint (en attendant que ce soit corrigé) */
md-hint {
  color: rgb(242, 74, 74);
  top: 40px;
  min-width: 500px;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a, a:hover, a:visited {
  color: md-color($primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

app-root > md-sidenav-container, app-root > md-progress-bar {
  max-width: 1400px;
  margin: 0 auto;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

.echos-logo {
  background: url(assets/images/logo-echos.jpg) no-repeat;
  height: 83px;
  width: 200px;
  background-size: contain;
  cursor: pointer;
}

.echos-header {
  margin-top: 20px;
}

.echos-title {
  color: md-color($primary);
  font-size: 1.8em;
  padding-bottom: 5px;
  margin: 12px 0;
  border-bottom: 1px solid md-color($primary);
}

.echos-color {
  width: 24px;
  height: 24px;
  border: 1px solid #d0d0d0;
}

.echos-help {
  color: $echos-grey;
  font-size: 0.9rem;
}

.echos-menu, md-sidenav {
  md-list-item {
    padding-left: 30px;
    padding-right: 30px;
    color: $echos-dark-grey;
    min-width: 180px;
    white-space: nowrap;
    &:hover {
      background: #f0f0f0;
      cursor: pointer;
    }
    &.active {
      color: md-color($accent);
    }
  }
}

.echos-color-box {
  width: 16px;
  height: 16px;
  margin: 16px;
  border: solid 1px grey;
}

md-list-item.echos-list-item {
  cursor: pointer;
  border-bottom: 1px solid #a5a5a5;
  &:last-child {
    border-bottom: none;
  }
  &:hover {
    border-bottom: 1px solid md-color($accent);
    background: #f0f0f0;
  }
  .md-list-item {
    padding: 22px 8px;
    height: auto;
  }
  div[md-line] {
    .have-childs {
      div:nth-child(2) {
        color: $echos-light-grey;
        padding: 8px 0;
        div {
          &:before {
           content: '- ';
          }
          &:first-child {
             padding-left: 0;
             &:before {
               content: '';
             }
          }
        }
      }
    }
  }
}

.echos-breadcrumb {
  div {
    color: $echos-dark-grey;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: -5px;
    &:after {
      padding: 0 5px;
      content: '/';
    }
    &:first-child {
      md-icon {
        font-size: 18px;
        fill: $echos-dark-grey;
        display: block;
      }
      &:after {
        padding: 0;
        content: '';
      }
    }
    &:nth-child(2) {
      &:before {
        padding: 0 5px 0 0;
        content: '/';
      }
    }
    &:last-child {
      color: $echos-light-grey;
      pointer-events: none;
      display: flex;
      &:after {
        content: '';
      }
    }
  }
}

.echos-main-container {
  margin-top: 30px;
  .echos-menu {
    display: none;
  }
}

.echos-main-container > router-outlet + * {
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  height: 100%;
}

.echos-footer {
  background-color: #e9e9e9;
  border-top: 1px solid md-color($accent);
  padding: 20px 0;
  color: $echos-grey;
  .croll-container {
    margin-top: 10px;
    font-size: 0.8em;
    .croll {
      margin-top: 20px;
      font-size: 0.8em;
      text-decoration: none;
      &:visited {
        color: $echos-grey;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright-caption {
    font-size: 1rem;
  }
}

.echos-infos {
  & > div {
    font-size: 1.2rem;
    padding: 5px 0;
    label {
      color: $echos-light-grey;
    }
    div {

    }
  }
}

.echos-warning {
  font-size: 1.2rem;
  color: $echos-dark-grey;
}

@media screen and (min-width: 959px) {
  .echos-menu-button {
    display: none!important;
  }
  .echos-menu {
    display: block!important;
  }
  .copyright-caption, .croll {
    padding-right: 50px;
  }
  .echos-main-container > router-outlet + * {
    margin-right: 50px;
  }
}

#mainprogress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
}

.hide {
  display: none;
}
