@import '~@angular/material/core/theming/all-theme';
@include mat-core();
$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-orange);
$warn:    mat-palette($mat-red);
$ecolocreche-app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($ecolocreche-app-theme);

$echos-dark-grey: #333;
$echos-grey: #555;
$echos-light-grey: #777;

// html, body, material-app, md-sidenav-container, .my-content {
//   margin: 0;
//   width: 100%;
//   height: 100%;
// }

/* ngx-datatable */
// @import '~@swimlane/ngx-datatable/release/datatable.css';
// @import '~@swimlane/ngx-datatable/release/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';

/* Hack md-hint (en attendant que ce soit corrigé) */
md-hint, mat-hint {
  color: rgb(242, 74, 74);
  top: 40px;
  min-width: 500px;
}

.mat-slider-horizontal .mat-slider-thumb-label {
  z-index: 1000;
}

html {
  height: 100%;
}

body, app-root {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, a:hover, a:visited {
  color: mat-color($primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none!important;
}

app-root > mat-sidenav-container, app-root > mat-progress-bar,
app-root > md-sidenav-container, app-root > md-progress-bar {
  max-width: 1450px;
  margin: 0 auto;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

.echos-logo {
  background: url(assets/images/logo-echos.jpg) no-repeat;
  height: 83px;
  width: 200px;
  background-size: contain;
  cursor: pointer;
}

.echos-error {
  padding-top: 5px;
  color: #f76242;
}

.echos-title {
  color: mat-color($primary);
  font-size: 1.8em;
  padding-bottom: 5px;
  margin: 12px 0;
  border-bottom: 1px solid mat-color($primary);
}

.echos-color {
  width: 24px;
  height: 24px;
  border: 1px solid #d0d0d0;
}

.echos-help {
  color: $echos-grey;
  font-size: 0.9rem;
}

.echos-menu {
  md-list-item, mat-list-item {
    padding-left: 30px;
    padding-right: 30px;
    color: $echos-dark-grey;
    min-width: 180px;
    white-space: nowrap;
    &:hover {
      background: #f0f0f0;
      cursor: pointer;
    }
    &.active {
      color: mat-color($accent);
    }
  }
}
@media screen and (max-width: 959px) {
  .echos-menu {
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    md-list-item, mat-list-item {
      color: #fff!important;
      font-size: 2em!important;
      font-weight: bold!important;
      &:hover {
        background: none!important;
      }
      &.active {
        color: mat-color($accent)!important;
      }
    }
  }
}

@media screen and (min-width: 959px) {
  .echos-menu-button {
   display: none!important;
  }
  // .echos-menu {
  //   display: block!important;
  // }
  .copyright-caption, .croll {
    padding-right: 50px;
  }
  .echos-main-container > router-outlet + * {
    margin-right: 50px;
  }
}

@media screen and (max-width: 959px) {
  .echos-menu-hide {
    display: none!important;
  }
}

.echos-color-box {
  display:inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: 1px solid #d0d0d0;
  vertical-align: middle;
  margin: 0 8px;
}

md-list-item.echos-list-item, mat-list-item.echos-list-item {
  cursor: pointer;
  border-bottom: 1px solid #a5a5a5;
  padding: 15px 0;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
  &:hover {
    border-bottom: 1px solid mat-color($accent);
    background: #f0f0f0;
  }
  .md-line, .mat-line {
    //white-space: normal!important;
  }
  .md-list-item, .mat-list-item, .mat-list-item-content {
    padding: 22px 0px;
    height: auto!important;
  }
  div {
    .have-childs {
      & > div:first-child {
        padding-top: 4px;
        font-size: 1.4em;
        color: #333;
      }
      & > div:nth-child(2):not(.small-list) {
        color: $echos-light-grey;
        padding: 8px 0 0 ;
        white-space: normal;
        div {
          padding-left: 5px;
          &:before {
           content: '- ';
          }
          &:first-child {
             padding-left: 0;
             &:before {
               content: '';
             }
          }
        }
      }
      .small-list {
        padding-top: 8px;
        font-size: 0.8em;
        color: $echos-dark-grey!important;
        & > *:after {
          padding-right: 3px;
          content: ' / ';
        }
        & > *:last-child {
          &:after {
            padding-left: 0px;
            content: '';
          }
        }
      }
    }
  }
}

.echos-breadcrumb {
  div {
    color: $echos-dark-grey;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: -5px;
    &:after {
      padding: 0 5px;
      content: '/';
    }
    &:first-child {
      md-icon, mat-icon {
        font-size: 18px;
        fill: $echos-dark-grey;
        display: block;
      }
      &:after {
        padding: 0;
        content: '';
      }
    }
    &:nth-child(2) {
      &:before {
        padding: 0 5px 0 0;
        content: '/';
      }
    }
    &:last-child {
      color: $echos-light-grey;
      pointer-events: none;
      display: flex;
      &:after {
        content: '';
      }
    }
  }
}

.echos-header {
  margin-top: 20px;
}

.echos-main-container {
  margin-top: 30px;
  flex: 1;
  flex-grow: 1;
}

.echos-main-container > router-outlet + * {
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  height: 100%;
}

.echos-footer {
  background-color: #e9e9e9;
  border-top: 1px solid mat-color($accent);
  padding: 20px 0;
  color: $echos-grey;
  .croll-container {
    margin-top: 10px;
    font-size: 0.8em;
    .croll {
      margin-top: 20px;
      font-size: 0.8em;
      text-decoration: none;
      &:visited {
        color: $echos-grey;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright-caption {
    font-size: 1rem;
  }
}

.echos-infos {
  & > div {
    font-size: 1.2rem;
    padding: 5px 0;
    label {
      color: $echos-light-grey;
    }
    div {

    }
  }
}

.echos-warning {
  font-size: 1.2rem;
  color: $echos-dark-grey;
}

#mainprogress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
}

.echos-percent {
  font-size: 0.9em;
  padding: 3px 5px 1px 5px;
  border-radius: 5px;
  color: #333;
  border: 1px solid $echos-light-grey;
  opacity: 0.8;
  font-weight: bold;
}

.arrow-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.titleItem {
  padding-left: 5px;
  // color: #555;
  color: mat-color($accent);
  &:before {
    padding-right: 8px;
    color: #000;
    content: ':'
  }
  &:after {
    // content: '"'
  }
}

.echos-question-list {

  mat-list-item, md-list-item {
    border-bottom: 1px solid #a5a5a5;
  }

  .mat-radio-label-content, .md-radio-label-content,
  .mat-checkbox-label, .md-checkbox-label {

  }

  .mat-slider-thumb {
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
  }

  .mat-slider-disabled .mat-slider-thumb {
    transform: scale(0.7);
  }


  .mat-list-item-content {
    padding-left: 0;
  }

  md-slider {
    width: 300px;
  }


  .echos-slider-title {
    width: 250px;
  }

  .echos-slider-value {
    background-color: mat-color($accent);
    padding: 2px 5px 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    &.disabled {
      background-color: #a6a6a6;
    }
  }

  .echos-question-list-item {
    margin-bottom: 20px;
    .echos-buttons-container {
      padding: 20px 0 30px 0;
    }
  }

  .echos-question-input-container {
    padding: 15px 0 0 18px;
    width: 100%;
  }

  .echos-error {
    padding-left: 18px;
    color: #f76242;
    font-weight: bold;
  }

  .echos-question-list-item-disabled {
    pointer-events: none;
  }

  .echos-question-ignored-label {
    font-weight: bold;
    padding: 20px 0 10px 18px;
    font-weight: 1.1em;
  }

  .echos-description {
    padding: 25px 0 0 18px;
    color: $echos-grey;
  }

  .echos-choice-description {
    padding-top: 9px;
    font-size: 0.9em;
    color: $echos-grey;
  }
}



.echos-colorpicker-cancel-button {
  background: #fff;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
}

.echos-colorpicker-ok-button {
  float: right;
  color: #fff;
  border: none;
  background-color: mat-color($primary);
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}


#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  //background: rgba(72, 41, 12, 0.7);
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.loading {
  visibility: visible;
  opacity: 1;
}

.not-loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
