@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-orange);
$warn:    mat-palette($mat-red);
$ecolocreche-app-theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($ecolocreche-app-theme);

$echos-dark-grey: #333;
$echos-grey: #555;
$echos-light-grey: #777;

// html, body, material-app, md-sidenav-container, .my-content {
//   margin: 0;
//   width: 100%;
//   height: 100%;
// }

/* ngx-datatable */
// @import '~@swimlane/ngx-datatable/release/datatable.css';
// @import '~@swimlane/ngx-datatable/release/material.css';
// @import '~@swimlane/ngx-datatable/release/assets/icons.css';

mat-hint {
  color: rgb(242, 74, 74);
  top: 40px;
  min-width: 500px;
}

.mat-slider-horizontal .mat-slider-thumb-label {
  z-index: 1000;
}

html {
  height: 100%;
}

body, app-root {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a, a:hover, a:visited {
  color: mat-color($primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hide {
  display: none!important;
}

.echos-logo {
  background: url(assets/images/logo-echos.jpg);
  background-repeat: no-repeat;
  height: 83px;
  width: 200px;
  background-size: contain;
  cursor: pointer;
}

.echos-error {
  padding-top: 5px;
  color: #f76242;
}

.echos-title {
  color: mat-color($primary);
  font-size: 1.8em;
  padding-bottom: 5px;
  margin: 12px 0;
  border-bottom: 1px solid mat-color($primary);
}

.echos-color {
  width: 24px;
  height: 24px;
  border: 1px solid #d0d0d0;
  flex-shrink: 0;
}

.echos-help {
  color: $echos-grey;
  font-size: 0.9rem;
}

.login-logout-button {
  margin-right: 15px!important;
}

.echos-menu {
  mat-list-item {
    padding-left: 30px;
    padding-right: 30px;
    color: $echos-dark-grey;
    min-width: 180px;
    white-space: nowrap;
    &:hover {
      background: #f0f0f0;
      cursor: pointer;
    }
    &.active {
      color: mat-color($accent);
    }
  }
}

@media screen and (max-width: 959px) {
  .echos-menu {
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10000;
    padding-left: 30px;
    mat-list-item {
      color: #fff!important;
      font-size: 2em!important;
      font-weight: bold!important;
      padding: 8px 0;
      &:hover {
        background: none!important;
      }
      &.active {
        color: mat-color($accent)!important;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .echos-menu-button {
   // display: none!important;
  }
  // .echos-menu {
  //   display: block!important;
  // }
  .copyright-caption, .croll {
    padding-right: 50px;
  }
  .echos-main-container > router-outlet + * {
    margin-right: 50px;
  }
}

    .echos-menu-hide {
      display: none!important;
    }

.echos-color-box {
  display:inline-block;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  border: 1px solid #d0d0d0;
  vertical-align: middle;
  margin: 0 8px;
}

.echos-textarea, .ql-container  {
  border: 1px solid #c0c0c0;
  padding: 8px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
}


mat-list {
  padding: 0 8px;
}

mat-list-item.echos-list-item {
  cursor: pointer;
  border-bottom: 1px solid #a5a5a5;
  display: flex!important;
  flex-direction: column!important;
  &:last-child {
    border-bottom: 1px solid transparent;
  }
  &:hover {
    border-bottom: 1px solid mat-color($accent);
    background: #f0f0f0;
  }
  .mat-list-item-content {
    flex: 1 1 100%;
    padding-left: 0!important;
  }
  & > div {
    .have-childs {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
      min-height: 40px;
      justify-content: center;
      padding: 18px 0;
      & > div:first-child {
        font-size: 1.4em;
        color: #333;
      }
      & > div:nth-child(2):not(.small-list) {
        color: $echos-light-grey;
        white-space: normal;
        div {
          padding-left: 5px;
          &:before {
           content: '- ';
          }
          &:first-child {
             padding-left: 0;
             &:before {
               content: '';
             }
          }
        }
      }
      .small-list {
        font-size: 0.8em;
        flex-wrap: wrap;
        color: $echos-dark-grey!important;
        & > * {
          white-space: nowrap;
          &::after {
            padding-right: 3px;
            content: ' / ';
          }
          &:last-child::after {
            content: '.';
            color: #fff;
          }
        }
      }
    }

		div {
			white-space: normal!important;
		}
  }
}

.echos-breadcrumb {
  div {
    color: $echos-dark-grey;
    font-size: 0.9rem;
    cursor: pointer;
    margin-top: -5px;
    &:after {
      padding: 0 5px;
      content: '/';
    }
    &:first-child {
      mat-icon {
        font-size: 18px;
        fill: $echos-dark-grey;
        display: block;
      }
      &:after {
        padding: 0;
        content: '';
      }
    }
    &:nth-child(2) {
      &:before {
        padding: 0 5px 0 0;
        content: '/';
      }
    }
    &:last-child {
      color: $echos-light-grey;
      pointer-events: none;
      display: flex;
      &:after {
        content: '';
      }
    }
  }
}

.echos-header {
  margin-top: 20px;
}

.echos-main-container {
  margin-top: 30px;
  flex: 1;
  flex-grow: 1;
}

.echos-main-container > router-outlet + * {
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  height: 100%;
}

.echos-footer {
  background-color: #e9e9e9;
  border-top: 1px solid mat-color($accent);
  padding: 20px 0;
  color: $echos-grey;
  .croll-container {
    margin-top: 10px;
    font-size: 0.8em;
    .croll {
      margin-top: 20px;
      font-size: 0.8em;
      text-decoration: none;
      &:visited {
        color: $echos-grey;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright-caption {
    font-size: 1rem;
  }
}

@media all and (-ms-high-contrast:none) {
 .echos-footer {
   display: none;
 }
}

.echos-infos {
  & > div {
    font-size: 1.2rem;
    padding: 5px 0;
    label {
      color: $echos-light-grey;
    }
    div {

    }
  }
}

.echos-help-block {
  position: relative;
  border: 1px dashed #d0d0d0;
  color: rgba(0, 0, 0, 0.54);
  border-radius: 3px;
  padding: 0 12px 0 42px;
  margin: 15px 0 15px 0;
  &::before {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    content: '?';
    color: #a0a0a0;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 30px;
    background-color: #d0d0d0;
    font-weight: bold;
  }
}

.echos-warning {
  font-size: 1.2rem;
  color: $echos-dark-grey;
}

#mainprogress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 42;
}

.echos-percent {
  font-size: 0.9em;
  padding: 3px 5px 1px 5px;
  border-radius: 5px;
  color: #333;
  border: 1px solid $echos-light-grey;
  opacity: 0.8;
  font-weight: bold;
}

.echos-percent-ignored {
  margin-top: 4px;
  font-size: 0.6em;
  color: #777;
}

.arrow-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.titleItem {
  padding-left: 5px;
  // color: #555;
  color: mat-color($accent);
  &:before {
    padding-right: 8px;
    color: #000;
    content: ':'
  }
  &:after {
    // content: '"'
  }
}

.echos-question-list {

  mat-list-item {
    border-bottom: 1px solid #a5a5a5;
  }

  .mat-slider-thumb {
    right: -15px;
    bottom: -15px;
    width: 30px;
    height: 30px;
  }

  .mat-slider-disabled .mat-slider-thumb {
    transform: scale(0.7);
  }


  .mat-list-item-content {
    padding-left: 0;
  }

  mat-slider {
    width: 300px;
  }


  .echos-slider-title {
    width: 250px;
  }

  .echos-slider-value {
    background-color: mat-color($accent);
    padding: 2px 5px 0 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    &.disabled {
      background-color: #a6a6a6;
    }
  }

  .echos-question-list-item {
    margin-bottom: 20px;
    .echos-buttons-container {
      padding: 20px 0 30px 0;
    }
  }

  .echos-question-input-container {
    margin-top: 25px;
    width: 100%;
  }

  .echos-error {
    padding-left: 18px;
    color: #f76242;
    font-weight: bold;
  }

  .echos-question-list-item-disabled {
    pointer-events: none;
  }

  .echos-question-ignored-label {
    font-weight: bold;
    padding: 20px 0 10px 18px;
    font-weight: 1.1em;
  }

  .echos-description {
    padding: 25px 0 0 18px;
    color: $echos-grey;
  }

  .echos-choice-description {
    padding-top: 9px;
    font-size: 0.9em;
    color: $echos-grey;
  }
}



.echos-colorpicker-cancel-button {
  background: #fff;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
}

.echos-colorpicker-ok-button {
  float: right;
  color: #fff;
  border: none;
  background-color: mat-color($primary);
  border-radius: 3px;
  padding: 3px 5px;
  cursor: pointer;
}


#loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  //background: rgba(72, 41, 12, 0.7);
  background: rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

.loading {
  visibility: visible;
  opacity: 1;
}

.not-loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.echos-main-container {

    .mat-list .mat-list-item .mat-list-text>*, .mat-nav-list .mat-list-item .mat-list-text>* {
        white-space: normal;
    }
    .mat-toolbar {
      padding: 0;
    }
    .mat-toolbar .mat-toolbar-row {
      white-space: normal;
    }
    .mat-list, .mat-list-item, .mat-list-item-content {
      height: auto!important;
      min-height: 48px;
      padding-left: 0;
    }
}
.echos-chart {
  // width: auto!important;
  // height: !important;
  margin: 0 auto;
  width: 100%!important;
  max-width: 450px!important;
}
/* WYSIWYG */

.ql-container {
  padding: 10px 10px;
  p {
    margin: 0 0;
  }
}

.ql-bubble * {
  z-index: 50;
}

.mat-form-field-infix {
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 3px;
    border-bottom: 0px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
    width: 100%;
}

.mat-form-field-placeholder.mat-empty {
  color: #c0c0c0;
}

.mat-form-field-placeholder,
.mat-form-field.mat-focused .mat-form-field-placeholder.mat-empty{
  color: #333;
}

.mat-form-field:not(.mat-focused) .mat-form-field-placeholder.mat-empty{
  padding-top: 2px;
  padding-left: 8px;
}


.mat-input-underline {
  background-color: #c0c0c0;
}

mat-form-field {
  width: 100%;
}

.only-in-pdf {
  display: none;
}

.wysiwyg-display p {
  margin: 0;
}

@media print {
  .echos-header, .echos-menu, .echos-footer, .echos-breadcrumb, #mainprogress, .not-in-pdf {
    display: none !important;
  }
  .only-in-pdf {
    display: inherit;
  }
  .do-not-break {
    page-break-inside: avoid;
  }

  // hide placeholder of wysiwyg
  .ql-editor.ql-blank {
    display: none;
  }

  .ql-container, .echos-textarea, .mat-form-field-infix {
    box-shadow: none !important;
    border: none;
    padding: 0!important;
  }

  .labeling-file-generate-component {
    .tarace .ql-container {
      border: 1px solid #c0c0c0!important;
      padding: 10px !important;
    }
  }

  .ql-editor {
    padding: 0 !important;
  }

}
