<md-list>
  <md-list-item class="echos-list-item" *ngFor="let item of choices; let i = index; let firstItem = first; let lastItem = last">
    <div md-line fxLayout="row" fxLayoutAlign="start center">
      <div fxFlex>
        <div class="choice-row" fxLayout="row" fxLayoutAlign="start center">
          <!--
          <md-checkbox formControlName="answerValue">
            <div class="echos-color-box" [style]="impact.getImpactColorStyle(item.impact)"></div>
            <span>{{item.title}}</span>
          </md-checkbox>
        -->
          <md-checkbox>
            <div class="echos-color-box" [style]="impact.getImpactColorStyle(item.impact)"></div>
            <span>{{item.title}}</span>
          </md-checkbox>
        </div>
        <div>{{item.description}}</div>
      </div>
    </div>
  </md-list-item>
</md-list>
