<div class="echos-title">{{current.title}}</div>
<div class="echos-description">{{current.description}}</div>

<form (ngSubmit)="save()" [formGroup]="echosForm">

    <div [hidden]="isAnswered">
        <md-checkbox formControlName="ignored">Ignorer cette question</md-checkbox>
    </div>

    <div [hidden]="!isAnswered || !current.answer.ignored">
        Question ignorée
    </div>

    <div [hidden]="echosForm.controls.ignored.value">
        <q-checkbox-answer-edit *ngIf="current.type == 'q_checkbox'" [choices]="choices" [answer]="current.answer" [echosForm]="echosForm"></q-checkbox-answer-edit>
        <!--
        <q-radio-answer-edit *ngIf="current.type.value == 'q_radio'" [choices]="choices" [answer]="current.answer"></q-radio-answer-edit>
        <q-percents-answer-edit *ngIf="current.type.value == 'q_percents'" [choices]="choices" [answer]="current.answer"></q-percents-answer-edit>
    -->
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="buttons-container">
      <button *ngIf="!isAnswered" fxFlexOffset="20px" md-raised-button type="submit" [disabled]="!echosForm.valid" color="primary">Enregistrer</button>
      <button *ngIf="isAnswered" (click)="modify()" fxFlexOffset="20px" md-raised-button color="warn">Modifier cette réponse</button>
    </div>

</form>
