<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><mat-icon>home</mat-icon></div>
  <div fxFlexAlign="start">Connexion</div>
</div>

<h1 i18n>Connexion</h1>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Nom d'utilisateur / adresse mail" [(ngModel)]="model.name" name="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Mot de passe" [(ngModel)]="model.password" name="password">
      </mat-form-field>

      <mat-checkbox>Se souvenir de moi</mat-checkbox>

      <mat-toolbar fxLayout="row">
        <button type="button" mat-raised-button routerLink="/motdepasse" (click)="false"><mat-icon>info</mat-icon> Mot de passe oublié ?</button>
        <div fxFlex>&nbsp;</div>
        <button mat-raised-button type="submit" [disabled]="!loginForm.form.valid"><mat-icon>person</mat-icon> Connexion</button>
      </mat-toolbar>

  </div>
</form>
