<div class="echos-breadcrumb" fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="start center">
  <div routerLink="/" fxFlexAlign="start"><md-icon>home</md-icon></div>
  <div fxFlexAlign="start">Connexion</div>
</div>

<h1 i18n>Connexion</h1>

<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
  <div fxLayout="column">
      <md-input-container>
        <input mdInput placeholder="Nom d'utilisateur / adresse mail" [(ngModel)]="model.name" name="name">
      </md-input-container>

      <md-input-container>
        <input mdInput type="password" placeholder="Mot de passe" [(ngModel)]="model.password" name="password">
      </md-input-container>

      <md-checkbox>Se souvenir de moi</md-checkbox>

      <md-toolbar fxLayout="row">
        <button type="button" md-raised-button routerLink="/motdepasse" (click)="false"><md-icon>info</md-icon> Mot de passe oublié ?</button>
        <div fxFlex>&nbsp;</div>
        <button md-raised-button type="submit" [disabled]="!loginForm.form.valid"><md-icon>person</md-icon> Connexion</button>
      </md-toolbar>

  </div>
</form>
